.container-1YxwTf .embed-IeVjo6 .embedPill-1Zntps {
  display: none;
}

.container-1YxwTf .embed-IeVjo6 .embedPill-1Zntps[style] {
  border-radius: 100px;
  display: block !important;
  height: calc(100% - 7px);
  left: 5px;
  opacity: 0.9;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 3px;
  z-index: 1;
}

.containerCompact-3bB5aN {
  padding: 0;
  width: 0;
}

.containerCompact-3bB5an .embed-IeVjo6 {
  margin: 30px 8ch;
  width: max-content;
}

.container-1YxwTf .embed-IeVjo6 {
  position: relative;
}

.theme-dark .embedPill-1Zntps {
  background-color: $palenight-accent !important;
}

.theme-dark .container-1YxwTf .embedPill-1Zntps[style] + .embedInner-1-fpTo {
  @include box-shadow(1);
  border: 0;
  border-radius: 3px;
  padding-left: 16px;
  padding-right: 12px;
}

.embedThumbnail-2Y84-K {
  transition: 300ms cubic-bezier(0.2, 0.11, 0, 1);
}

/*-----EMBED LINK-----*/
.embedDescription-1Cuq9a {
  color: $comment !important;
}

/*-----EMBED IMAGE------*/

.image-details {
  padding-bottom: 10px;
}

.image-details-wrapper {
  max-width: 100%;
}

.containerCompact-3bB5aN.image-details-wrapper {
  padding: 20px 8ch;
  width: 0;
}

.containerCompact-3bB5aN .image-details {
  width: 60vw;
}

.containerCompact-3bB5aN .container-1e22Ot.da-containerCompact.da-container {
  padding-left: 0;
  width: 0;
}

/*-----EMBED VIDEO-----*/

.embedVideoActionsInner-2reMo2 {
  background: rgba($palenight-black, 0.6) !important;
  border-radius: 3px !important;
  height: 100%;
  overflow: hidden;
  padding: 0 !important;
  transition: all 300ms cubic-bezier(0.23, 0.01, 0, 1);
  width: 100%;
}

.embedVideoPlay-1r-B3h:first-of-type {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTQuNXYtOWw2IDQuNS02IDQuNXoiLz48L3N2Zz4=') !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: 80px !important;
  height: 100% !important;
  transition: all 300ms cubic-bezier(0.23, 0.01, 0, 1);
  width: 100% !important;
}

.embedVideoActionsInner-2reMo2:hover {
  background: rgba($palenight-black, 0.7) !important;
}

.embedVideoPlay-1r-B3h + .embedVideoPopout-304geM {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTkgMTlINVY1aDdWM0g1Yy0xLjExIDAtMiAuOS0yIDJ2MTRjMCAxLjEuODkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJ2LTdoLTJ2N3pNMTQgM3YyaDMuNTlsLTkuODMgOS44MyAxLjQxIDEuNDFMMTkgNi40MVYxMGgyVjNoLTd6Ii8+PC9zdmc+') !important;
  background-size: 100% !important;
  bottom: 10px;
  height: 25px !important;
  position: absolute;
  right: 10px;
  width: 25px !important;
}

.embedVideo-3nf0O9 {
  transition: all 300ms cubic-bezier(0.23, 0.01, 0, 1);
}

.change-log .embed .embedVideoActions-O6vR7W {
  padding-bottom: 4px;
}

.detTubeButton {
  background-image: url('data: image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMyAxM2gydi0ySDN2MnptMCA0aDJ2LTJIM3Yyem0yIDR2LTJIM2MwIDEuMS44OSAyIDIgMnpNMyA5aDJWN0gzdjJ6bTEyIDEyaDJ2LTJoLTJ2MnptNC0xOEg5Yy0xLjExIDAtMiAuOS0yIDJ2MTBjMCAxLjEuODkgMiAyIDJoMTBjMS4xIDAgMi0uOSAyLTJWNWMwLTEuMS0uOS0yLTItMnptMCAxMkg5VjVoMTB2MTB6bS04IDZoMnYtMmgtMnYyem0tNCAwaDJ2LTJIN3YyeiIvPjwvc3ZnPg==') !important;
  background-size: 100% !important;
  bottom: 12px;
  height: 24px !important;
  position: absolute;
  right: 40px;
  width: 25px !important;
}

.embed .embedFields-2IPs5Z {
  margin-top: 0;
}

.embedVideo-3nf0O9 iframe {
  width: 100% !important;
}

.theme-dark
  .container-1YxwTf
  .embed
  .embedFields-2IPs5Z
  .embedFieldName-NFrena {
  padding-left: 0;
}

.embed .embedVideoActions-O6vR7W .embedVideoPopout-304geM {
  background: url('/assets/7ff0938769e7e232f880731d45851b94.svg') no-repeat;
  margin-top: 2px;
}

/*-----/EMBED VIDEO-----*/

.container-1YxwTf .embed-IeVjo6 {
  background-color: $palenight-level2 !important;
  border: 0;
  border-radius: 3px !important;
  box-shadow: 0 2px 5px rgba($palenight-black, 0.1);
  max-width: 100%;
  .embedInner-1-fpTo {
    background: $palenight-level4;
  }
}

.embed-IeVjo6::after {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 3px;
  content: '';
  display: block;
  height: 22px;
  pointer-events: none;
  position: absolute;
  right: 5px;
  top: 3px;
  width: 22px;
}

.embed-IeVjo6 .embedInner-1-fpTo {
  background: transparent;
}

/*-----EMBED AUDIO-----*/

.wrapperAudio-1jDe0Q {
  background-color: $palenight-level2 !important;
  border: 0;
  border-radius: 3px !important;
  box-shadow: 0 2px 5px rgba($palenight-black, 0.1);
}

.audioControls-2HsaU6 {
  background: $palenight-level4;
}

.audioMetadata-3zOuGv::before {
  filter: grayscale(100%);
}

.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl::before,
.mediaBarProgress-1xaPtl::after {
  background: $palenight-accent;
}

.mediaBarGrabber-1FqnbN:active,
.mediaBarInteractionDragging-2QurIZ .mediaBarGrabber-1FqnbN,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
  background: $palenight-accent;
  box-shadow: 0 2px 5px rgba($palenight-black, 0.3);
}

.mediaBarGrabber-1FqnbN:active {
  background: $palenight-accent;
  box-shadow: 0 2px 5px rgba($palenight-black, 0.1);
}

/*-----/EMBED AUDIO-----*/
