.chat-3bRxxu .content-yTz4x3 form {
  background: $nox-level1;
  margin: 0;
}

.emojiButton-3uL3Aw .sprite-2iCowe {
  display: none;
}

.emojiButton-3uL3Aw {
  background-color: transparent !important;
  background-image: url('data: image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2LjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIgMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0zLjU4IDgtOCA4em0zLjUtOWMuODMgMCAxLjUtLjY3IDEuNS0xLjVTMTYuMzMgOCAxNS41IDggMTQgOC42NyAxNCA5LjVzLjY3IDEuNSAxLjUgMS41em0tNyAwYy44MyAwIDEuNS0uNjcgMS41LTEuNVM5LjMzIDggOC41IDggNyA4LjY3IDcgOS41IDcuNjcgMTEgOC41IDExem0zLjUgNi41YzIuMzMgMCA0LjMxLTEuNDYgNS4xMS0zLjVINi44OWMuOCAyLjA0IDIuNzggMy41IDUuMTEgMy41eiIvPjwvc3ZnPg==') !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  transition: all 100ms ease;
  width: 50px;
}

form .channelTextArea-rNsIhG {
  background: $nox-level3;
  border: 0;
  margin: 0;
  padding: 0;
}

.textArea-2Spzkt {
  color: rgba($nox-white, 0.7);
  font-size: 0.875rem;
  letter-spacing: normal;
  line-height: 1.125rem;
  margin: 0;
  margin-bottom: 0;
  margin-top: 0;
  max-height: 400px !important;
  min-height: 18px;
  opacity: 0.64;
  overflow: hidden;
  overflow-y: scroll !important;
  padding: 26px 0;
  padding-right: 10px;
  transition: all 200ms ease;
}

.inner-zqa7da:hover .textArea-2Spzkt {
  color: rgba($nox-white, 0.8);
  opacity: 1 !important;
  transition: all 200ms ease;
}

.inner-zqa7da .textArea-2Spzkt:focus {
  color: rgba($nox-white, 1);
  opacity: 1 !important;
  transition: all 200ms ease;
}

.inner-zqa7da {
  border-radius: 0;
  box-sizing: border-box;
}

.theme-dark .attachButtonDivider-3Glu60 {
  display: none;
}

.attachButton-1UjEWA {
  background-color: transparent !important;
  background-image: url('data: image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTIgMTIuNUMyIDkuNDYgNC40NiA3IDcuNSA3SDE4YzIuMjEgMCA0IDEuNzkgNCA0cy0xLjc5IDQtNCA0SDkuNUM4LjEyIDE1IDcgMTMuODggNyAxMi41UzguMTIgMTAgOS41IDEwSDE3djJIOS40MWMtLjU1IDAtLjU1IDEgMCAxSDE4YzEuMSAwIDItLjkgMi0ycy0uOS0yLTItMkg3LjVDNS41NyA5IDQgMTAuNTcgNCAxMi41UzUuNTcgMTYgNy41IDE2SDE3djJINy41QzQuNDYgMTggMiAxNS41NCAyIDEyLjV6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==') !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: 21px !important;
  box-shadow: none !important;
  fill: transparent !important;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0.24;
  padding: 0;
  position: absolute;
  top: 0;
  transform: none !important;
  transition: all 200ms ease;
  width: 100%;
}

.inner-zqa7da:hover .attachButton-1UjEWA {
  opacity: 0.3;
  transition: all 200ms ease;
}

.attachButton-1UjEWA * {
  fill: transparent !important;
}

.inner-zqa7da .attachButton-1UjEWA:hover {
  opacity: 0.9 !important;
  transform: none;
  transition: all 100ms ease;
}
.channelTextArea-1LDbYG
  .inner-zqa7da
  > .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6 {
  border-right-color: $nox-white0 !important;
  display: block !important;
  height: 100%;
  position: absolute;
  visibility: visible;
  width: 80px;
  z-index: 2;
}

.theme-dark .inner-zqa7da {
  background-color: $nox-level4;
  transition: all 200ms ease;
}

.theme-dark .channel-textarea-emoji {
  opacity: 0.3;
  right: 0;
  top: 0;
}

.theme-dark .emojiButton-3uL3Aw {
  opacity: 0.24;
  right: 0;
  top: 0;
  transition: all 200ms ease;
}

//   .theme-dark .inner-zqa7da:hover .emojiButton-3uL3Aw{
//       opacity:0.3;
//       transition: all 200ms ease;
//   }

.theme-dark .inner-zqa7da .emojiButton-3uL3Aw:hover,
.theme-dark .inner-zqa7da .emojiButton-3uL3Aw:active,
.theme-dark .inner-zqa7da .emojiButton-3uL3Aw.popout-open,
.theme-dark .channel-textarea-emoji.popout-open,
.theme-dark .channel-textarea-emoji:hover,
.theme-dark .channel-textarea-emoji:active {
  opacity: 1;
  transition: all 100ms ease;
}

.innerAutocomplete-1PN280 {
  opacity: 1 !important;
}

.theme-dark .autocomplete-1vrmpx {
  background-color: $nox-level2 !important;
  border-bottom: 0;
  border-radius: 0;
  box-shadow: 0 -5px 10px rgba($nox-black, 0.1);
  margin-bottom: 0;
  margin-right: 20px;
  margin-right: 0;
  z-index: 10;
}

.iconForeground-1w5n7R {
  fill: $nox-white3;
}

.theme-dark .selectorSelected-1_M1WV {
  background-color: rgba($nox-white, 0.05) !important;
  border-radius: 2px;
}

.textArea-2Spzkt::-webkit-scrollbar {
  display: none;
}

.textArea-2Spzkt {
  padding-left: 25px;
}
.channelTextArea-1LDbYG
  .inner-zqa7da
  > .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6
  ~ .textArea-2Spzkt {
  padding-left: 0;
  padding-left: 80px;
}

.chat-3bRxxu form .typing-2GQL18 {
  animation: opacity 300ms ease;
  background: $nox-level1 !important;
  border-radius: 5px 5px 0 0;
  bottom: 100%;
  box-shadow: 0 -3px 20px rgba($nox-black, 0.1);
  color: $nox-white;
  margin-left: 15px;
  opacity: 0.95;
  overflow-y: visible !important;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  -ms-transform: scale(1);
  transform: scale(1);
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
  transition: all 200ms ease;
  width: auto;
  z-index: 0;
  z-index: 5;
}

.typing-2GQL18 .text-1y-e8- {
  line-height: 26px;
}

.typing-2GQL18 .ellipsis-19qdx6 {
  height: 31px;
}

.chat-3bRxxu form .typing-2GQL18:hover {
  opacity: 1;
}

.theme-dark .chat-3bRxxu form {
  border: 0;
  box-shadow: rgba($nox-black, 0.1) 0 0 20px;
  margin: 0;
}

.listeningAlong-2UPsxf {
  background: linear-gradient(
    180deg,
    rgba($nox-black, 0) 90%,
    rgba($nox-black, 0.1)
  );
  background-color: $nox-level4;
  border: 0;
  box-shadow: 0 2px 20px rgba($nox-black, 0.4);
  transition: all 500ms ease;
  z-index: 4;
}

// .channelTextArea-1LDbYG .buttons-205you {
//     position: absolute;
//     right: 0;
//     max-width: 80px;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
// }

.channelTextArea-1LDbYG .buttons-205you button {
  background: none;
  border-radius: 0;
  box-shadow: none;
  height: 100%;
  margin: 0;
  min-height: unset;
  padding: 6px;
  transition: unset;
  width: 50px;
}

.channelTextArea-1LDbYG .buttons-205you .buttonContainer-21MN7J {
  height: 100%;
}

.channelTextArea-1LDbYG .inner-zqa7da {
  align-items: center;
}

.channelTextArea-1LDbYG .buttons-205you button .button-2vd_v_ {
  padding: 0;
}
