*[style*="color: rgb(0, 0, 1)"] {
  color: var(--comment) !important;
}

*[style*="color: rgb(233, 30, 99)"] {
  color: var(--violet) !important;
}

*[style*="color: rgb(230, 126, 34)"],
*[style*="color: rgb(168, 67, 0)"],
*[style*="color: rgb(231, 76, 60)"] {
  color: var(--orange) !important;
}

*[style*="color: rgb(46, 204, 113)"] {
  color: var(--green) !important;
}

*[style*="color: rgb(62, 204, 156)"] {
  color: var(--teal) !important;
}

*[style*="color: rgb(201, 63, 115)"],
*[style*="color: rgb(253, 124, 251)"] {
  color: var(--magenta) !important;
}

*[style*="color: rgb(52, 152, 219)"] {
  color: var(--blue) !important;
}

*[style*="color: rgb(218, 12, 12)"],
*[style*="color: rgb(255, 0, 51)"] {
  color: var(--red) !important;
}

*[style*="color: rgb(171, 193, 35)"],
*[style*="color: rgb(210, 175, 53)"] {
  color: var(--yellow) !important;
}
*[style*="color: rgb(233, 30, 99)"] {
  color: var(--violet) !important;
}

*[style*="color: rgb(230, 126, 34)"],
*[style*="color: rgb(168, 67, 0)"],
*[style*="color: rgb(231, 76, 60)"] {
  color: var(--orange) !important;
}

*[style*="color: rgb(46, 204, 113)"] {
  color: var(--green) !important;
}

*[style*="color: rgb(62, 204, 156)"] {
  color: var(--teal) !important;
}

*[style*="color: rgb(201, 63, 115)"],
*[style*="color: rgb(253, 124, 251)"] {
  color: var(--magenta) !important;
}

*[style*="color: rgb(52, 152, 219)"] {
  color: var(--blue) !important;
}

*[style*="color: rgb(218, 12, 12)"],
*[style*="color: rgb(255, 0, 51)"] {
  color: var(--red) !important;
}

*[style*="color: rgb(171, 193, 35)"],
*[style*="color: rgb(210, 175, 53)"] {
  color: var(--yellow) !important;
}

*[style*="color: rgb(233, 30, 99)"] {
  color: var(--violet) !important;
}

*[style*="color: rgb(230, 126, 34)"],
*[style*="color: rgb(168, 67, 0)"],
*[style*="color: rgb(231, 76, 60)"] {
  color: var(--orange) !important;
}

*[style*="color: rgb(46, 204, 113)"] {
  color: var(--green) !important;
}

*[style*="color: rgb(62, 204, 156)"] {
  color: var(--teal) !important;
}

*[style*="color: rgb(201, 63, 115)"],
*[style*="color: rgb(253, 124, 251)"] {
  color: var(--magenta) !important;
}

*[style*="color: rgb(52, 152, 219)"] {
  color: var(--blue) !important;
}

*[style*="color: rgb(218, 12, 12)"],
*[style*="color: rgb(255, 0, 51)"] {
  color: var(--red) !important;
}

*[style*="color: rgb(171, 193, 35)"],
*[style*="color: rgb(210, 175, 53)"] {
  color: var(--yellow) !important;
}
