/* Syntax Highlighting */
.hljs {
  background: $nox-level0 !important;
  display: block;
  overflow-x: auto;
  padding: 0.5em !important;
}

.hljs ol li::before {
  color: $nox-level0 !important;
}

.hljs-comment {
  color: $comment !important;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-selector-class,
.hljs-selector-id,
.hljs-section,
.hljs-link {
  color: $blue !important;
}

.hljs-keyword {
  color: $magenta !important;
}

.hljs,
.hljs-subst {
  color: $nox-light-fg !important;
}

.hljs-attribute,
.hljs-string,
.hljs-title {
  color: $green !important;
}

.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-attr,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: $yellow !important;
}

.hljs-quote,
.hljs-deletion {
  color: $yellow !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-literal,
.hljs-number,
.hljs-selector-pseudo {
  color: $orange !important;
}

.hljs-emphasis {
  font-style: italic;
}
