/* Create/join invite */

.form.deprecated .btn-primary,
.form.deprecated .btn-primary:hover,
.form .btn-primary:hover,
.form .btn-primary {
  background: $palenight-accent;
}

.form header,
.form .control-group label a:hover,
.form .control-group label a {
  color: $palenight-accent;
}

.form.deprecated .form-actions,
.form .form-actions {
  background: $palenight-level2;
  border: 0;
}

.form.deprecated .form-inner,
.form.deprecated .form-header {
  background: transparent;
}

.create-guild-container.deprecated .join-server .link-container input:hover {
  border: 0;
  border-bottom: 2px solid rgba($palenight-white, 0.1) !important;
}

.create-guild-container.deprecated .join-server .link-container input:focus {
  border: 0;
  border-bottom: 2px solid $palenight-accent !important;
}

.create-guild-container.deprecated .join-server .link-container label {
  color: rgba($palenight-white, 0.4);
  margin-top: 10px;
}

.create-guild-container.deprecated .form-actions .btn-default {
  color: rgba($palenight-white, 0.6);
}

.create-guild-container.deprecated .form-actions .btn-default::before {
  background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMjAgMTFINy44M2w1LjU5LTUuNTlMMTIgNGwtOCA4IDggOCAxLjQxLTEuNDFMNy44MyAxM0gyMHYtMnoiLz48L3N2Zz4=');
  background-position: 0 50%;
  background-size: 100%;
  opacity: 0.6;
}

.create-guild-container.deprecated .form-actions .btn-default:active::before {
  background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMjAgMTFINy44M2w1LjU5LTUuNTlMMTIgNGwtOCA4IDggOCAxLjQxLTEuNDFMNy44MyAxM0gyMHYtMnoiLz48L3N2Zz4=');
  background-position: 0 50%;
  background-size: 100%;
  opacity: 0.6;
  transition: all 50ms ease;
}

.create-guild-container.deprecated .action:hover.create .btn,
.form .btn-primary:hover {
  filter: brightness(93%) contrast(110%);
}

.form.deprecated .btn-default {
  background: $palenight-level1;
  border: 0;
  color: $palenight-white !important;
  padding: 10px 20px;
}

.form-actions .btn-default,
.form.deprecated .btn-primary {
  @include transition('easeInOut', 'shorter', all);
  border-radius: 3px;
  box-shadow: 0 6px 10px rgba($palenight-black, 0);
  margin-bottom: 5px;
}

.form-actions .btn-default:hover,
.form.deprecated .btn-primary:hover {
  box-shadow: 0 6px 15px rgba($palenight-black, 0.2);
  transform: translate(0, -1px);
  transition: all 100ms ease, transform 150ms cubic-bezier(0, 0, 0, 1);
}

.form-actions .btn-default:active,
.form.deprecated .btn-primary:active {
  background: rgb(220, 220, 220) !important;
  border-radius: 4px;
  box-shadow: 0 0 0 rgba($palenight-black, 0.5);
  color: rgba($palenight-black, 0.7) !important;
  transform: translate(0, 2px);
  transition: all 50ms ease;
}

.form.deprecated .control-group input,
.form.deprecated .control-group textarea,
.form .control-group input,
.form .control-group textarea,
.serverfolders-modal input {
  background: transparent !important;
  background: transparent !important;
  border: 0;
  border-bottom: 2px solid rgba($palenight-white, 0.05) !important;
  border-radius: 0 !important;
  color: $palenight-white !important;
  margin-bottom: 0 !important;
}

.form.deprecated .control-group input:focus,
.form.deprecated .control-group textarea:focus,
.form .control-group input:focus,
.form .control-group textarea:focus,
.serverfolders-modal input:focus {
  border-bottom: 2px solid $palenight-accent !important;
}

/* End Create/join invite */
