/*deprecated*/
.form-deprecated .control-group input,
.form-deprecated .control-group textarea,
.form .control-group input,
.form .control-group textarea,
.serverfolders-modal input {
  background: transparent !important;
  background: transparent !important;
  border: 0;
  border-bottom: 2px solid rgba($palenight-white, 0.05) !important;
  border-radius: 0 !important;
  color: $palenight-white !important;
  margin-bottom: 0 !important;
}

.form-deprecated .control-group input:focus,
.form-deprecated .control-group textarea:focus,
.form .control-group input:focus,
.form .control-group textarea:focus,
.serverfolders-modal input:focus {
  border-bottom: 2px solid $palenight-accent !important;
}

/*/deprecated*/

.form .btn-primary {
  @include transition('easeInOut', 'shorter', all);
  border-radius: 3px;
  box-shadow: 0 6px 10px rgba($palenight-black, 0);
  margin-bottom: 5px;
}

.form .btn-primary:hover {
  box-shadow: 0 6px 15px rgba($palenight-black, 0.2);
  transform: translate(0, -1px);
  transition: all 150ms ease-in-out;
}

.form .btn-primary:active {
  background: rgb(220, 220, 220) !important;
  border-radius: 4px;
  box-shadow: 0 0 0 rgba($palenight-black, 0.5);
  color: rgba($palenight-black, 0.7);
  transform: translate(0, 2px);
  transition: all 50ms ease;
}

.form .control-groups.control-separator {
  border-color: rgba($palenight-white, 0.02);
}
