.backdrop-1wrmKB[style*='background-color: rgb(255, 255, 255);'] {
  background-color: #000 !important;
}

.downloadApps-wbBFdZ .footer-1nkeBm a,
.downloadApps-wbBFdZ .header-nJMe-Q {
  color: $nox-accent;
}

.downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236.active-iLSdWQ {
  border-color: $nox-accent;
}

.downloadApps-wbBFdZ
  .platforms-28Rb-3
  .platform-iik236.active-iLSdWQ
  .downloadButton-1bWXpg {
  background-color: $nox-accent;
}

.downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236.active-iLSdWQ p {
  color: $nox-accent;
}

.downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236 .icon-2Pk7pb {
  transform: scale(0.8);
}

.downloadApps-wbBFdZ
  .platforms-28Rb-3
  .platform-iik236.active-iLSdWQ
  .icon-2Pk7pb.active-iLSdWQ {
  opacity: 0;
}

.downloadApps-wbBFdZ
  .platforms-28Rb-3
  .platform-iik236.active-iLSdWQ
  .icon-2Pk7pb {
  filter: brightness(0);
  opacity: 1;
}

.downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236 .iconWrap-1pnF3w {
  background: transparent;
  border-radius: 25px;
  transition: background 200ms ease;
}

.downloadApps-wbBFdZ
  .platforms-28Rb-3
  .platform-iik236.active-iLSdWQ
  .iconWrap-1pnF3w {
  background: $nox-accent;
}
