/* Region Selection */
.regionSelectModal-12e-57 {
  background: $palenight-level2;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba($palenight-black, 0.3);
}

.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 {
  background: $palenight-level1;
  border: 0;
  border-color: transparent;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba($palenight-black, 0.3),
    0 0 0 2px transparent inset;
  transition: 300ms ease;
}

.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:hover {
  background: $palenight-level0;
  border-color: transparent;
  box-shadow: 0 5px 5px rgba($palenight-black, 0.3), 0 0 0 2px transparent inset;
}

.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:active {
  background: $palenight-level0;
  box-shadow: 0 5px 5px rgba($palenight-black, 0.3),
    0 0 0 2px $palenight-accent inset;
  transition: 0ms;
}

.theme-dark .regionSelectName-2-2FWh {
  color: rgba($palenight-white, 0.4);
  transition: 200ms ease !important;
}

.theme-dark .regionSelectModalOption-2DSIZ3:hover .regionSelectName-2-2FWh {
  color: rgba($palenight-white, 0.9);
}

.regionSelectModal-12e-57 .regionSelectModalFooter-20C5iA {
  color: rgba($palenight-white, 0.3);
}

.regionSelectModal-12e-57 .regionSelectModalHeader-21khC1 {
  color: $palenight-accent;
}

.regionSelect-3lf4eE:hover button {
  background: $palenight-accent !important;
  border-color: $palenight-accent !important;
}

.regionSelect-3lf4eE .regionSelectInner-24f4Ce {
  background: $palenight-level1;
  border-color: transparent;
  transition: 300ms ease;
}

.regionSelect-3lf4eE:hover .regionSelectInner-24f4Ce {
  background: $palenight-level0;
  border-color: transparent !important;
}

.regionSelect-3lf4eE button {
  background: $palenight-level0;
  border-color: transparent;
  color: $palenight-accent;
}

.regionSelectName-2-2FWh {
  color: rgba($palenight-white, 0.8);
  transition: 50ms ease;
}

.regionSelect-3lf4eE:active button {
  background: $palenight-accent;
  color: $palenight-white;
}

/* End Region Selection */
