.lookFilled-1Gx00P.colorBrand-3pXr91:disabled,
.selectorButtonSelected-1j4DmC {
  background: $palenight-accent;
}

.selectorNitroIcon-2rQO-z path {
  fill: $palenight-accent;
}

.modal-3HD5ck .tiles-2aXG_k {
  background: $palenight-level2;
}

.imageSelected-4Kl81J {
  border-color: $palenight-accent;
}
