/* Invite from web modal */
.inviteModal-34DdOm {
  background: $palenight-level2;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba($palenight-black, 0.3);
}

.inviteModal-34DdOm .inviteTitle-2-D7Bk {
  color: $palenight-white;
}

.inviteModal-34DdOm .inviteBody-1Y3j7y {
  color: rgba($palenight-white, 0.3);
}

.inviteModal-34DdOm .inviteBody-1Y3j7y strong {
  color: rgba($palenight-white, 0.5);
}

/* End invite from web modal */
