/* Invite from web modal */
.inviteModal-34DdOm {
  background: $nox-level2;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba($nox-black, 0.3);
}

.inviteModal-34DdOm .inviteTitle-2-D7Bk {
  color: $nox-white;
}

.inviteModal-34DdOm .inviteBody-1Y3j7y {
  color: $nox-white3;
}

.inviteModal-34DdOm .inviteBody-1Y3j7y strong {
  color: $nox-white5;
}

/* End invite from web modal */
