.addGamePopout-2RY8Ju .buttonGreyLinkDefault-3eCAFJ {
  background: #393939;
}

.addGamePopout-2RY8Ju .buttonGreyLinkDefault-3eCAFJ:hover {
  background: #3b3b3b;
}

.theme-dark .addGamePopout-2RY8Ju {
  background: $nox-level1;
}

.addGamePopout-2RY8Ju .divider-3573oO {
  margin: 4px 0;
  opacity: 0;
}
