// .container-VSDcQc

.container-VSDcQc .autocompleteArrow-Zxoy9H {
  background: $palenight-level4;
}

.container-VSDcQc .autocompleteHeaderBackground-30T70q {
  background: $palenight-level4;
}

.popouts-3dRSmE .container-VSDcQc .sectionTag-pXyto9 {
  background: $palenight-level2;
}

.container-VSDcQc .row-rrHHJU.selected-1pIgLL {
  background: $palenight-level1;
}

.container-VSDcQc .row-rrHHJU.selected-1pIgLL:active {
  background: $palenight-level4;
}
