/* Autocomplete modal */
.theme-dark #autocomplete-popout section {
  background: $nox-level1;
}

#autocomplete-popout {
  background: $nox-level2;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

#autocomplete-popout header {
  background: $nox-level4;
}

.theme-dark #autocomplete-popout .row.selected {
  background: $nox-level2;
}

.theme-dark #autocomplete-popout .row {
  background: $nox-level1;
}

#autocomplete-popout .empty h4 {
  color: $nox-accent;
}

#autocomplete-popout .row.selected,
#autocomplete-popout .row:hover {
  background: #181818;
}

#autocomplete-popout .row {
  transition: all 50ms ease;
}

#autocomplete-popout .scroller::-webkit-scrollbar {
  display: none;
}

#autocomplete-popout .empty p,
#autocomplete-popout .row a {
  color: $nox-white3;
}

#autocomplete-popout .row.selected a,
#autocomplete-popout .row:hover a {
  color: $nox-white4;
}

#autocomplete-popout .empty:hover {
  background: transparent;
}

#autocomplete-popout .row a {
  font-weight: 500;
}

/* End autocomplete modal */
