.popout-3sVMXz {
  box-shadow: 0 5px 15px rgba($nox-black, 0.3) !important;
}

// .popout-3sVMXz section {
//     background: $nox-level2!important;
//     transition: all 100ms ease;
// }

.popout-3sVMXz header {
  background: $nox-accent;
}

.popout-3sVMXz.popoutBottomRight-2JrySt header::before,
.popout-3sVMXz.popoutBottom-1YbShG header::before {
  border-bottom-color: $nox-accent;
}

@keyframes bottompopout {
  from {
    opacity: 0;
    transform: translate(0, 55px);
  }
}

@keyframes toppopout {
  from {
    opacity: 0;
    transform: translate(0, -55px);
  }
}
