.popout-3sVMXz .container-3cGP6G {
  background: $palenight-level0;
  border-color: $palenight-level0;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
}

.container-3cGP6G .item-2J1YMK {
  background: none;
  border-radius: 0;
  box-shadow: none !important;
  color: rgba($palenight-white, 0.4);
  margin: 0;
  min-height: unset;
  padding: 2px !important;
  transform: none !important;
  width: 100%;
}

.container-3cGP6G .item-2J1YMK:hover {
  background: rgba($palenight-white, 0.05);
  color: rgba($palenight-white, 0.7);
  transform: none;
}

.container-3cGP6G .item-2J1YMK:active {
  background: rgba($palenight-black, 0.1);
  color: rgba($palenight-white, 0.7);
  transform: none;
}
