.popout-3sVMXz .container-3cGP6G {
  background: $nox-level0;
  border-color: $nox-level0;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
}

.container-3cGP6G .item-2J1YMK {
  background: none;
  border-radius: 0;
  box-shadow: none !important;
  color: $nox-white4;
  margin: 0;
  min-height: unset;
  padding: 2px !important;
  transform: none !important;
  width: 100%;
}

.container-3cGP6G .item-2J1YMK:hover {
  background: rgba($nox-white, 0.05);
  color: $nox-white7;
  transform: none;
}

.container-3cGP6G .item-2J1YMK:active {
  background: rgba($nox-black, 0.1);
  color: $nox-white7;
  transform: none;
}
