#bd-settingspane-container .bda-slist li[data-name='Nox'] .bda-description {
  display: none;
}

#bd-settingspane-container .bda-slist li[data-name='Nox'] .scroller-wrap {
  position: relative;
}

#bd-settingspane-container
  .bda-slist
  li[data-name='Nox']
  .scroller-wrap::before {
  background: $nox-accent;
  border-radius: 2px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  color: $nox-light-fg;
  content: 'Accent color';
  display: inline-block;
  left: 0;
  margin: 5px;
  margin-top: 10px;
  padding: 30px;
  position: relative;
  width: auto;
}

#bd-settingspane-container
  .bda-slist
  li[data-name='Nox']
  .scroller-wrap::after {
  background: $nox-notification-color;
  border-radius: 2px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  color: #000;
  content: 'Notification color';
  display: inline-block;
  left: 0;
  margin: 5px;
  margin-top: 10px;
  padding: 30px;
  position: relative;
  width: auto;
}

#bd-settingspane-container .bda-slist li[data-name='Nox'] .bda-name,
#bd-settingspane-container .bda-slist li[data-name='Nox'] .bda-header-title {
  font-size: 0;
}

#bd-settingspane-container
  .bda-slist
  li[data-name='Nox']
  .bda-header-title::after {
  content: $nox-version ' by Lilian Tedone & Zack Rauen';
  font-size: 12px;
}
