#bd-settingspane-container
  .bda-slist
  li[data-name='Palenight']
  .bda-description {
  display: none;
}

#bd-settingspane-container .bda-slist li[data-name='Palenight'] .scroller-wrap {
  position: relative;
}

#bd-settingspane-container
  .bda-slist
  li[data-name='Palenight']
  .scroller-wrap::before {
  background: $palenight-accent;
  border-radius: 2px;
  box-shadow: 0 2px 15px rgba($palenight-black, 0.2);
  color: $palenight-light-fg;
  content: 'Accent color';
  display: inline-block;
  left: 0;
  margin: 5px;
  margin-top: 10px;
  padding: 30px;
  position: relative;
  width: auto;
}

#bd-settingspane-container
  .bda-slist
  li[data-name='Palenight']
  .scroller-wrap::after {
  background: $palenight-notification-color;
  border-radius: 2px;
  box-shadow: 0 2px 15px rgba($palenight-black, 0.2);
  color: #000;
  content: 'Notification color';
  display: inline-block;
  left: 0;
  margin: 5px;
  margin-top: 10px;
  padding: 30px;
  position: relative;
  width: auto;
}

#bd-settingspane-container .bda-slist li[data-name='Palenight'] .bda-name,
#bd-settingspane-container
  .bda-slist
  li[data-name='Palenight']
  .bda-header-title {
  font-size: 0;
}

#bd-settingspane-container
  .bda-slist
  li[data-name='Palenight']
  .bda-header-title::after {
  content: $palenight-version ' by Lilian Tedone & Zack Rauen';
  font-size: 12px;
}
