#bd-customcss-detach-container {
  background: $nox-level4;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls::after {
  background: $nox-level2;
  border-radius: 2px;
  color: $nox-white;
  content: "To add custom settings to the theme, copy the following\A code in your custom CSS and replace the things you want\A to change:\A \A :root {\A\9 --nox-accent: #7289DA !important;\A\9 --nox-notification-color: $NOX-LIGHT-FG) !important;\A\9 --nox-important-notification: var(--nox-important-notification !important;\A}\A\A Don't forget to save/update when you're done!\A\A To see all the variables in the theme, just go to bit.ly/NoxTheme. ";
  display: block;
  font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 10px;
  white-space: pre;
  width: 100%;
  width: auto;
}

#bd-customcss-detach-controls-buttons button:last-of-type::after {
  background: $nox-accent;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 40px 0 $nox-notification-color,
    40px 2px 10px rgba(0, 0, 0, 0.3);
  content: '';
  display: block;
  height: 30px;
  left: 120px;
  margin-top: -23px;
  pointer-events: none;
  position: absolute;
  transition: all 100ms ease;
  width: 30px;
}

#bd-customcss-detach-controls-buttons button:hover:last-of-type::after {
  -ms-transform: translate(0, 1px);
  transform: translate(0, 1px);
  transition: all 150ms ease-in-out;
}

#bd-customcss-detach-controls-buttons button:active:last-of-type::after {
  -ms-transform: translate(0, -2px);
  transform: translate(0, -2px);
  transition: all 50ms ease;
}

.contentRegion-3nDuYy .CodeMirror,
.contentRegion-3nDuYy .CodeMirror-scroll {
  max-height: calc(95vh - 250px);
  min-height: calc(95vh - 250px);
}

.contentRegion-3nDuYy #bd-customcss-attach-controls::before {
  background: $nox-accent;
  border-radius: 50%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3),
    65px -12px 0 -10px $nox-important-notification,
    65px -10px 15px -8px rgba(0, 0, 0, 0.2), 50px 0 0 $nox-notification-color,
    50px 2px 15px rgba(0, 0, 0, 0.3);
  color: $nox-white;
  content: '';
  display: block;
  height: 40px;
  margin: 5px;
  margin-top: 10px;
  margin-top: 25px;
  order: 5;
  position: absolute;
  right: 110px;
  transform: translate(0, -15px);
  width: 40px;
  z-index: 2;
}

#bd-customcss-attach-controls {
  height: auto !important;
  margin-bottom: 60px;
}

#bd-customcss-attach-controls
  .checkbox-3kaeSU
  .checkboxInner-3yjcPe
  input
  + span::before {
  border-color: $nox-level4 !important;
}

/*cuscomcss*/

.contentRegion-3nDuYy .CodeMirror,
.contentRegion-3nDuYy .cm-s-material .CodeMirror-gutters,
#bd-customcss-detach-container .CodeMirror,
#bd-customcss-detach-container .cm-s-material .CodeMirror-gutters {
  background: $nox-level4 !important;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls,
#bd-customcss-detach-container #bd-customcss-attach-controls {
  background: $nox-level4 !important;
  box-shadow: 0 1px rgba(255, 255, 255, 0.05) inset;
  margin-bottom: 0 !important;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button,
.bd-detached-css-editor #bd-customcss-attach-controls button {
  background: $nox-level2 !important;
  border: 0;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover,
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
  background: $nox-level1 !important;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:active,
.bd-detached-css-editor #bd-customcss-attach-controls button:active {
  background: #101010 !important;
  transition: 0ms;
}

.standardSidebarView-3F1I7i #editor-detached h3 {
  color: $nox-white3;
}

.cm-s-material .CodeMirror-guttermarker,
.cm-s-material .CodeMirror-guttermarker-subtle,
.cm-s-material .CodeMirror-linenumber {
  color: $nox-white;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button,
.bd-detached-css-editor #bd-customcss-attach-controls button {
  border-radius: 3px !important;
  margin-right: 5px;
}

#bd-customcss-detach-controls-button span {
  font-size: 12px !important;
}

#bd-customcss-editor,
#bd-customcss-editor .ace-monokai .ace_gutter {
  background: $nox-level4;
}
