.tipsy {
  animation: opacity 100ms ease;
  opacity: 1 !important;
  pointer-events: none;
}

.tipsy-inner {
  animation: opacity 80ms ease;
  background-color: $palenight-level1 !important;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba($palenight-black, 0.2) !important;
  font-size: 13px;
  padding: 6px 10px;
  pointer-events: none;
  z-index: 1000000000000000000;
}

.tipsy-inner {
  border-radius: 3px;
}

.emoji.jumboable {
  height: 33px !important;
  width: 33px !important;
}
