.call-avatar .avatar-xxlarge {
  cursor: pointer;
  transition: transform 400ms cubic-bezier(0, 0, 0, 1),
    opacity 400ms cubic-bezier(0, 0, 0, 1),
    box-shadow 400ms cubic-bezier(0, 0, 0, 1);
}

.call-avatar .avatar-xxlarge:hover {
  opacity: 0.8;
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

.call-avatar .avatar-xxlarge.speaking {
  border: 0;
  box-shadow: 0 0 0 3px $nox-level4 inset, 0 0 0 5px #43b581,
    0 0 10px 5px rgba(67, 181, 129, 0.2) !important;
  transition: transform 400ms cubic-bezier(0, 0, 0, 1),
    opacity 300ms cubic-bezier(0, 0, 0, 1),
    box-shadow 100ms cubic-bezier(0, 0, 0, 1) !important;
}

.incomingCall-14zLcL .incomingCallInner-2VmFiR {
  background: $nox-level4;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6),
    0 1px 2px rgba(255, 255, 255, 0.05) inset;
}

.incomingCallInner-2VmFiR .subtitle-1H8FPn {
  color: $nox-white4;
}

// .incomingCall-14zLcL .button-38aScr .actionIcon--D_WrW {
//     background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNNi42MiAxMC43OWMxLjQ0IDIuODMgMy43NiA1LjE0IDYuNTkgNi41OWwyLjItMi4yYy4yNy0uMjcuNjctLjM2IDEuMDItLjI0IDEuMTIuMzcgMi4zMy41NyAzLjU3LjU3LjU1IDAgMSAuNDUgMSAxVjIwYzAgLjU1LS40NSAxLTEgMS05LjM5IDAtMTctNy42MS0xNy0xNyAwLS41NS40NS0xIDEtMWgzLjVjLjU1IDAgMSAuNDUgMSAxIDAgMS4yNS4yIDIuNDUuNTcgMy41Ny4xMS4zNS4wMy43NC0uMjUgMS4wMmwtMi4yIDIuMnoiLz48L3N2Zz4=);
// }

.incomingCall-14zLcL {
  z-index: 1000000000000;
}

.incomingCall-14zLcL .button-38aScr + .button-38aScr {
  margin-left: 0;
  margin-right: 0;
}

.theme-dark
  .private-channel-call.minimum
  .private-channel-call-actions
  .center {
  background: $nox-level2;
  border-color: $nox-level2;
}

.connecting {
  background: #2b2b2b;
  z-index: 10000000;
}

.connecting video.ready {
  background: #593695 !important;
  filter: grayscale(100);
}

.ui-call-avatar.voice .ui-call-avatar-status.muted {
  animation: scale 500ms cubic-bezier(0.65, 0, 0, 1.39);
}

.wrapper-35wsBm {
  background: none !important;
  border: 0;
}
