.container-3gCOGc {
  background: $nox-level1 !important;
}

.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud + .friendsRow-2yicud {
  border-top: 0;
}

.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud {
  background: $nox-level1;
  border-radius: 0;
  margin: 0 20px;
  margin-top: 10px;
  opacity: 0.9 !important;
  padding: 16px 10px;
  position: relative;
  transition: all 100ms ease, z-index 0ms 100ms;
  z-index: 0;
}

.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:first-of-type:hover,
.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: 20px;
}

.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:last-of-type:hover,
.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:last-of-type {
  border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .username {
  color: $nox-white8 !important;
}

.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover {
  background: $nox-level0 !important;
  border-radius: 0;
  box-shadow: 0 3px 10px rgba($nox-black, 0.05);
  opacity: 1 !important;
  transition: all 100ms ease, z-index 0ms;
  z-index: 2;
}

.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:active {
  background: $nox-level0;
  box-shadow: 0 3px 10px rgba($nox-black, 0.15);
  opacity: 1 !important;
  transition: all 50ms ease, z-index 0ms;
  z-index: 2;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnName-1zBOKm
  .wrapper-2F3Zv8 {
  border: 0;
  margin-left: 10px;
  transition: all 300ms ease;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud:hover
  .friendsColumnName-1zBOKm
  .wrapper-2F3Zv8 {
  transition: all 100ms ease;
}

.container-3gCOGc .friendsTable-133bsv .friendsTableBody-1ZhKif {
  background: $nox-level1;
  padding-top: 31px;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsTableHeader-32yE7d
  .friendsColumn-eVHFqJ {
  color: rgba(225, 225, 225, 0.3) !important;
  transition: all 200ms ease;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsTableHeader-32yE7d
  .friendsColumn-eVHFqJ:hover {
  color: rgba(225, 225, 225, 0.7) !important;
}

/* .container-3gCOGc .headerBar-UHpsPw .tabBar-1E2ExX .item-3HpYcP {
    transition: all 200ms ease!important;
} */

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP:not(.primary-3j8BhM) {
  border-radius: 0;
  box-sizing: border-box;
  color: $nox-white2;
  height: 55px;
  line-height: 55px;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.itemSelected-1qLhcL {
  background: none;
  border-bottom: 2px solid $nox-white;
  color: $nox-white;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .discord-tag
  .discriminator {
  color: rgba(225, 225, 225, 0);
  transition: all 100ms ease;
  visibility: visible;
}

.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .discriminator,
.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M {
  transition: all 100ms ease !important;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud:active
  .friendsColumnActions-1LT3_M,
.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud:hover
  .friendsColumnActions-1LT3_M {
  transition: all 100ms ease !important;
}

.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover .discriminator {
  color: rgba(225, 225, 225, 0.4);
  transition: all 0ms ease !important;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9 {
  background-color: transparent !important;
  border-radius: 50%;
  opacity: 0.6;
  transform: scale(1);
  transition: all 200ms cubic-bezier(0.33, 0.01, 0, 1);
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9::after {
  background: $nox-light-fg;
  border-radius: 50%;
  content: '';
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  transform: scale(1);
  transition: 300ms ease;
  width: 100%;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9:active::after {
  animation: scale 200ms cubic-bezier(0.4, 0, 0, 1), opacity 100ms ease;
  opacity: 0.1;
  transform: scale(1);
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionAccept-3mkemT::after,
.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionIgnore-1-RPlq::after {
  background: #000 !important;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionAccept-3mkemT:active::after,
.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionIgnore-1-RPlq:active::after {
  opacity: 0.2;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9:hover,
.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9:active {
  background-color: rgba($nox-white, 0.1) !important;
  opacity: 1;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionIgnore-1-RPlq:active,
.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionIgnore-1-RPlq:hover {
  background-color: #f04747 !important;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionAccept-3mkemT:active,
.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionAccept-3mkemT:hover {
  background-color: #43b581 !important;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M {
  opacity: 0;
  padding-right: 12px;
  visibility: visible;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud:hover
  .friendsColumnActions-1LT3_M {
  opacity: 1;
  padding-right: 12px;
  visibility: visible;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M {
  padding-right: 12px;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionAccept-3mkemT {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiICB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgIDxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xNSwxNEMxMi4zMywxNCA3LDE1LjMzIDcsMThWMjBIMjNWMThDMjMsMTUuMzMgMTcuNjcsMTQgMTUsMTRNNiwxMFY3SDRWMTBIMVYxMkg0VjE1SDZWMTJIOVYxME0xNSwxMkE0LDQgMCAwLDAgMTksOEE0LDQgMCAwLDAgMTUsNEE0LDQgMCAwLDAgMTEsOEE0LDQgMCAwLDAgMTUsMTJaIiAvPgo8L3N2Zz4K');
  background-position: 50%;
  background-size: 62%;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionIgnore-1-RPlq {
  background-image: url('data: image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==');
  background-position: 50%;
  background-size: 67%;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionAccept-3mkemT {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNOSAxNi4xN0w0LjgzIDEybC0xLjQyIDEuNDFMOSAxOSAyMSA3bC0xLjQxLTEuNDF6Ii8+PC9zdmc+');
  background-position: 50%;
  background-size: 67%;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendTableAddWrapper-nHHZtK
  .friendTableSuggestionsHeader-2zSnpD {
  background: $nox-level2;
  border-bottom: 0;
  z-index: 7;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendTableAddWrapper-nHHZtK
  .friendTableAddHeader-m9bzFr {
  background: $nox-level4 !important;
  border-bottom: 0;
  box-shadow: 0 10px 10px rgba($nox-black, 0.8);
  z-index: 8;
}

.container-3gCOGc .friendsTable-133bsv {
  margin-top: 0;
}

/*--Friends Search bar--*/
.privateChannels-1nO12o {
  overflow: visible;
  -webkit-transform: none;
  transform: none;
}

/* OLD VERSION (kinda broken)
  .privateChannels-1nO12o .search-bar:hover{
    pointer-events: initial;
    transition:box-shadow 300ms ease 400ms;
    box-shadow: 0 0px 15px $nox-black3!important;
  }

  .privateChannels-1nO12o .search-bar::after {
    content:"";
    border-radius: 100000px;
    transition: all 600ms cubic-bezier(.4,0,0,1) 100ms,transform 400ms cubic-bezier(.4,0,0,1),background-color 500ms ease,background-image 200ms ease 200ms;
    border:0;
    position: absolute;
    bottom:40px;
    right:35px;
    padding:0;
    width:50px;
    height:50px;
    background: $nox-level1;
    z-index: 2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0MxNS40MSAxMi41OSAxNiAxMS4xMSAxNiA5LjUgMTYgNS45MSAxMy4wOSAzIDkuNSAzUzMgNS45MSAzIDkuNSA1LjkxIDE2IDkuNSAxNmMxLjYxIDAgMy4wOS0uNTkgNC4yMy0xLjU3bC4yNy4yOHYuNzlsNSA0Ljk5TDIwLjQ5IDE5bC00Ljk5LTV6bS02IDBDNy4wMSAxNCA1IDExLjk5IDUgOS41UzcuMDEgNSA5LjUgNSAxNCA3LjAxIDE0IDkuNSAxMS45OSAxNCA5LjUgMTR6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
    background-position: 50%;
    background-repeat: no-repeat;
    box-shadow: 0 5px 15px rgba($nox-black, .25), 0 -1px 0px rgba($nox-black, 0.2) inset, 0 2px 1px rgba(255,255,255,.03) inset!important;
    cursor: pointer;
    pointer-events: initial;
    transform:translate(50%,50%)scale(1);
  }

  .privateChannels-1nO12o .search-bar:hover::after{
    transition: all 500ms cubic-bezier(.4,0,0,1),transform 400ms cubic-bezier(.4,0,0,1),background-color 200ms ease,background-image 150ms ease;
    bottom:50%;
    right:50%;
    background-image:url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=);
    transform:translate(50%,50%)scale(5.3);
    box-shadow: none;
    background-color:$nox-level0
  }

  .privateChannels-1nO12o .search-bar .searchBarInner-1_Tg2R{
    position: absolute;
    visibility: visible;
    z-index: 3;
    width:100%;
    height:100%;
    background: transparent;
    border:0;
    z-index: 3;
    padding: 0
  }

  .privateChannels-1nO12o .search-bar input{
    width:100%;
    height: 100%;
    box-sizing: border-box;
    padding:0 0 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
    font-size: 14px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0MxNS40MSAxMi41OSAxNiAxMS4xMSAxNiA5LjUgMTYgNS45MSAxMy4wOSAzIDkuNSAzUzMgNS45MSAzIDkuNSA1LjkxIDE2IDkuNSAxNmMxLjYxIDAgMy4wOS0uNTkgNC4yMy0xLjU3bC4yNy4yOHYuNzlsNSA0Ljk5TDIwLjQ5IDE5bC00Ljk5LTV6bS02IDBDNy4wMSAxNCA1IDExLjk5IDUgOS41UzcuMDEgNSA5LjUgNSAxNCA3LjAxIDE0IDkuNSAxMS45OSAxNCA5LjUgMTR6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: 193px 28px;
    opacity: 0;
    transition:all 200ms ease;
  }

  .privateChannels-1nO12o .search-bar:hover input{
    opacity: 1;
    transition:all 400ms ease 300ms;
  }

  .privateChannels-1nO12o .search-bar input:focus{
    background-color: $nox-level0!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    opacity: 1;
    transition:all 200ms ease;
  }

  .privateChannels-1nO12o .search-bar .searchBarInner-1_Tg2R:after{
    content:"Search...";
    position: absolute;
    pointer-events: none;
    font-size: 13px;
    color:#fff;
    top:50%;
    left:20px;
    font-size: 14px;
    z-index: 1;
    transform: translate(30px,-50%);
    opacity: 0;
    transition:all 200ms ease, transform 100ms 200ms;
  }

  .privateChannels-1nO12o .search-bar:hover .searchBarInner-1_Tg2R:after{
    opacity: 1;
    transition:all 300ms cubic-bezier(0,0,0,1) 200ms;
    transform: translate(0,-50%);
  }

  .privateChannels-1nO12o .search-bar input::-webkit-input-placeholder{
    color:transparent;
  }*/

/*New version(works on click)*/

.privateChannels-1nO12o .searchBar-6Kv8R2 {
  background: transparent;
  background: $nox-level1;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0MxNS40MSAxMi41OSAxNiAxMS4xMSAxNiA5LjUgMTYgNS45MSAxMy4wOSAzIDkuNSAzUzMgNS45MSAzIDkuNSA1LjkxIDE2IDkuNSAxNmMxLjYxIDAgMy4wOS0uNTkgNC4yMy0xLjU3bC4yNy4yOHYuNzlsNSA0Ljk5TDIwLjQ5IDE5bC00Ljk5LTV6bS02IDBDNy4wMSAxNCA1IDExLjk5IDUgOS41UzcuMDEgNSA5LjUgNSAxNCA3LjAxIDE0IDkuNSAxMS45OSAxNCA5LjUgMTR6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=');
  background-position: bottom 50% right 78px;
  background-repeat: no-repeat;
  background-size: 40%;
  border: 0;
  border-radius: 100000px;
  bottom: 40px;
  box-shadow: 0 25.64px 76.92px rgba($nox-black, 0.25),
    0 -5.13px 0 rgba($nox-black, 0.2) inset,
    0 10.26px 5.13px rgba($nox-white, 0.03) inset !important;
  height: 260px;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 35px;
  transform: translate(50%, 50%) scale(0.195);
  transition: box-shadow 200ms;
  transition: all 500ms cubic-bezier(0.4, 0, 0, 1) 200ms,
    transform 400ms cubic-bezier(0.4, 0, 0, 1), background-color 200ms ease,
    background-image 200ms ease 200ms, box-shadow 200ms ease;
  width: 260px;
  z-index: 5;
}

.privateChannels-1nO12o .searchBarInner-1_Tg2R {
  background: none;
  border: 0;
  border-radius: 0;
  height: 100%;
  padding: 0;
  width: 100%;
}

.privateChannels-1nO12o .searchBar-6Kv8R2 input {
  border: 0;

  cursor: pointer;
  height: 100%;
  pointer-events: initial;

  width: 100%;
}

.stop-animations .privateChannels-1nO12o .searchBar-6Kv8R2 input {
  transform: translate(50%, 50%) scale(0.195) !important;
}

.privateChannels-1nO12o .searchBar-6Kv8R2:hover {
  background-color: $nox-level0;
  box-shadow: 0 51.28px 76.92px rgba($nox-black, 0.3),
    0 -5.13px 0 rgba($nox-black, 0.2) inset,
    0 10.26px 5.13px rgba($nox-white, 0.05) inset;
}

.privateChannels-1nO12o .searchBar-6Kv8R2 input:focus {
  background-color: $nox-level0;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=');
  bottom: 50%;
  box-shadow: 0 51.28px 76.92px rgba($nox-black, 0),
    0 -5.13px 0 rgba($nox-black, 0) inset,
    0 10.26px 5.13px rgba($nox-white, 0) inset;
  cursor: text;
  right: 50%;
  transform: translate(50%, 50%) scale(1);
  transition: all 500ms cubic-bezier(0.4, 0, 0, 1),
    transform 400ms cubic-bezier(0.4, 0, 0, 1), background-color 200ms ease,
    background-image 150ms ease, box-shadow 200ms ease;
}

.privateChannels-1nO12o .searchBar-6Kv8R2 input::-webkit-input-placeholder {
  color: transparent;
  transition: 100ms ease;
}

.privateChannels-1nO12o
  .searchBar-6Kv8R2
  input:focus::-webkit-input-placeholder {
  color: $nox-white3;
  transition: 200ms ease 300ms;
}

.privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarInner-1_Tg2R {
  background: transparent;
  border: 0;
  height: 100%;
  padding: 0;
  position: absolute;
  visibility: visible;
  width: 100%;
  z-index: 3;
  z-index: 3;
}

.privateChannels-1nO12o .channel-2QD9_O .wrapper-2F3Zv8:hover {
  z-index: 1;
}

.privateChannels-1nO12o .scrollerWrap-2lJEkd {
  flex-direction: column;
}

.privateChannels-1nO12o .scrollerWrap-2lJEkd::before {
  background: $nox-level4; // alt 56
  box-shadow: 0 2px 20px rgba($nox-black, 0.4) !important;
  box-sizing: border-box;
  color: $nox-light-fg;
  content: 'Home';
  font-size: 16px;
  font-weight: 500;
  line-height: 47px;
  min-height: 48px;
  overflow: hidden;
  padding: 0 16px 0 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  // box-shadow: 0px 5px 10px rgba($nox-black, 0.1),0 2px rgba(255,255,255,.05) inset!important;
}

/*--/Friends Search bar--*/

.container-3gCOGc .friendsTable-133bsv .friendsTableHeader-32yE7d {
  border: 0;
  box-shadow: 0 -11px 0 -10px rgba($nox-white, 0.02) inset;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsTableHeader-32yE7d
  + .scrollerWrap-2lJEkd
  .scroller-2FKFPG {
  box-shadow: 0 10px 20px -10px rgba($nox-black, 0.1) inset;
}

.container-3gCOGc
  .friendsTable-133bsv
  .friendsRow-2yicud
  .friendsColumnActions-1LT3_M
  .friendsAction-__WNE9.friendsActionVoiceCall-3EdPsR {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNNi42MiAxMC43OWMxLjQ0IDIuODMgMy43NiA1LjE0IDYuNTkgNi41OWwyLjItMi4yYy4yNy0uMjcuNjctLjM2IDEuMDItLjI0IDEuMTIuMzcgMi4zMy41NyAzLjU3LjU3LjU1IDAgMSAuNDUgMSAxVjIwYzAgLjU1LS40NSAxLTEgMS05LjM5IDAtMTctNy42MS0xNy0xNyAwLS41NS40NS0xIDEtMWgzLjVjLjU1IDAgMSAuNDUgMSAxIDAgMS4yNS4yIDIuNDUuNTcgMy41Ny4xMS4zNS4wMy43NC0uMjUgMS4wMmwtMi4yIDIuMnoiLz48L3N2Zz4=') !important;
  background-size: 60%;
}

/* friends header */
.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.primary-3j8BhM {
  color: $nox-white2 !important;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.primary-3j8BhM:hover {
  color: $nox-white4 !important;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.primary-3j8BhM.notSelected-1N1G5p:hover
  .wrapper-232cHJ,
.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.primarySelected-3uHKZn {
  color: $nox-accent;
}

.headerBar-UHpsPw {
  background-color: $nox-level4 !important;
}

.container-3gCOGc .headerBar-UHpsPw .tabBar-1E2ExX {
  height: 100%;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.notSelected-1N1G5p:hover {
  background: none;
  border-bottom: 2px solid $nox-white4;
  color: $nox-white4;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP
  .wrapper-232cHJ {
  background: $nox-white2;
  color: $nox-level4;
  transition: 300ms ease;
  vertical-align: text-top;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.notSelected-1N1G5p:hover
  .wrapper-232cHJ {
  background: $nox-white4;
  color: $nox-level4;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.itemSelected-1qLhcL
  .wrapper-232cHJ {
  background: $nox-important-notification;
  color: $nox-white;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.primarySelected-3uHKZn
  .wrapper-232cHJ {
  background: $nox-accent;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.primary-3j8BhM.notSelected-1N1G5p:hover {
  background: $nox-accent;
  border: 0;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP:not(.primary-3j8BhM) {
  border-radius: 0;
  box-sizing: border-box;
  color: $nox-white2;
  height: 47px;
  line-height: 47px;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.itemSelected-1qLhcL {
  background: none;
  border-bottom: 2px solid $nox-white;
  color: $nox-white;
}

.headerBar-UHpsPw {
  border-bottom: 0;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.primarySelected-3uHKZn {
  color: #36393e !important;
}

.container-3gCOGc .headerBar-UHpsPw {
  z-index: 5;
}

.container-3gCOGc .headerBar-UHpsPw {
  box-shadow: 0 2px 20px rgba($nox-black, 0.4);
}

.theme-dark .container-3gCOGc .headerBar-UHpsPw .tabBar-1E2ExX .item-3HpYcP {
  border-bottom: 0;
  display: block;
  margin: 0 !important;
  min-width: 80px;
  padding: 2px 16px;
  position: relative;
  transition: 300ms ease !important;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP:hover {
  transition: 100ms ease !important;
}

.theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP:active {
  color: $nox-light-fg !important;
  transition: 0ms ease !important;
}

.container-3gCOGc .tabBar-1E2ExX .item-3HpYcP::after {
  background: #fff;
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform-origin: bottom;
  width: 100%;
}

.container-3gCOGc .tabBar-1E2ExX .item-3HpYcP.itemSelected-1qLhcL::after {
  transform: scale(1, 1);
  transform-origin: bottom;
  transition: 200ms cubic-bezier(0, 0, 0, 1), opacity 1ms ease;
}

.container-3gCOGc .tabBar-1E2ExX .item-3HpYcP.notSelected-1N1G5p::after {
  opacity: 0;
  transform: translate(80px) scale(2.5, 1);
  transition: 200ms cubic-bezier(1, 0, 0, 0.7), opacity 100ms;
}

.container-3gCOGc
  .tabBar-1E2ExX
  .item-3HpYcP.itemSelected-1qLhcL
  ~ .item-3HpYcP::after {
  opacity: 0;
  transform: translate(-80px) scale(2.5, 1);
  transition: 200ms cubic-bezier(1, 0, 0, 0.7), opacity 100ms;
}

body .theme-dark .container-3gCOGc .tabBar-1E2ExX .item-3HpYcP.primary-3j8BhM {
  background: transparent !important;
  border-radius: 0;
  box-sizing: border-box;
  height: 47px;
  line-height: 47px;
}

body
  .theme-dark
  .container-3gCOGc
  .tabBar-1E2ExX
  .item-3HpYcP.primary-3j8BhM:hover {
  color: $nox-light-fg !important;
}

body
  .theme-dark
  .container-3gCOGc
  .headerBar-UHpsPw
  .tabBar-1E2ExX
  .item-3HpYcP.primarySelected-3uHKZn {
  background: transparent !important;
  color: $nox-light-fg !important;
}

.theme-dark
  .container-3gCOGc
  .tabBar-1E2ExX
  .item-3HpYcP.primarySelected-3uHKZn::after {
  background: $nox-accent;
  height: 100%;
  transform: scale(1, 1);
  z-index: -1;
}

.theme-dark
  .container-3gCOGc
  .tabBar-1E2ExX
  .item-3HpYcP.primary-3j8BhM.notSelected-1N1G5p::after {
  background: $nox-accent;
  opacity: 0;
  transform: scale(1, 0) !important;
  transform-origin: bottom left;
  transition: 200ms ease 10ms;
}

.friendTableAddWrapper-nHHZtK {
  animation: friend-table-wrapper 300ms cubic-bezier(0.4, 0, 0, 1);
  left: 0;
  top: 0;
  transform-origin: top;
  width: 100%;
  z-index: 7;
}

@keyframes friend-table-wrapper {
  from {
    transform: translate(0, -231px);
  }
}

.friendsTable-133bsv > .scrollerWrap-2lJEkd {
  animation: testabcd 300ms cubic-bezier(0.4, 0, 0, 1), max-height 1ms;
  margin-top: 0;
  transform: translate(0, 0);
}

// .friendTableAddWrapper-nHHZtK+.scrollerWrap-2lJEkd{
//     max-height:calc(100% - 231px);
//     transition:all 300ms cubic-bezier(.4,0,0,1), max-height 100ms 300ms;
//     transform:translate(0,231px);
// }

// .friendsTableHeader-32yE7d+.scrollerWrap-2lJEkd{
//     max-height:calc(100% - 34px);
//     transition:all 300ms cubic-bezier(.4,0,0,1), max-height 1ms;
//     transform:translate(0,34px);
// }

.friendsTableHeader-32yE7d {
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: top;
  width: 100%;
  z-index: 2;
}

.friendsTableHeader-32yE7d {
  background-color: $nox-level4 !important;
}

.friendsTableHeader-32yE7d {
  border-bottom: 0;
}

.friendsTableHeader-32yE7d {
  box-shadow: none !important;
}

.container-3gCOGc .friendsTableHeader-32yE7d {
  display: -ms-flexbox;
  display: flex;
}
