/* LFG */
.base-3dtUhz .lfg-3xoFkI {
  background: $palenight-level1;
}

.lfg-3xoFkI .header-3lpf0u {
  background: $palenight-level2;
}

.theme-dark .headerText-1r7YO4 strong {
  color: $palenight-accent;
}

.lfg-3xoFkI .tabBar-PTjkZh {
  border: 0;
}

.lfg-3xoFkI .top-28JiJ- .itemSelected-1qLhcL {
  border: 0;
}

.lfg-3xoFkI .pill-1nbD-Z {
  background: $palenight-accent;
}

.wrapper-33pNYY {
  align-items: center;
}

.lfg-3xoFkI .card-FDVird::before {
  background-color: $palenight-level2;
}

.lfg-3xoFkI .wrapperDefault-NeXRmD {
  background: $palenight-level3;
}

.lfg-3xoFkI .max-mvI_jT {
  background: $palenight-level2;
}

.lfg-3xoFkI .max-mvI_jT::before {
  background-color: $palenight-level3;
  border-bottom-color: $palenight-level2;
}

.lfg-3xoFkI .wrapperFull-2_7g2- {
  background: $palenight-level4;
  opacity: 0.5;
}

.lfg-3xoFkI .buttonGreyFilledDefault-3uZpOq {
  background: #4f545c;
}

.lfg-3xoFkI .buttonGreyFilledDisabled-Fjw1_v {
  opacity: 0.3;
}

/* /LFG */
