@mixin ripple($color: '#000') {
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);

  &::after {
    background-image: radial-gradient(circle, $color 32%, transparent 10.01%);
    background-position: 50%;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(10, 10);
    transition: transform 0.5s, opacity 1s;
    width: 100%;
  }

  &:active {
    &::after {
      opacity: 0.2;
      transform: scale(0, 0);
      transition: 0s;
    }
  }
}
