.checkbox-3kaeSU .checkboxInner-3yjcPe input:checked + span::after,
.checkbox-3kaeSU .checkboxInner-3yjcPe input + span::after {
  display: none;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe input + span::before {
  animation: check-anim- 200ms linear 200ms,
    check-anim2- 200ms cubic-bezier(0.49, 0, 0, 1);
  border: 20px solid $nox-level2;
  border-left: 0;
  border-top: 0;
  bottom: 2px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 9px;
  -ms-transform: scale(0.65) rotate(0deg) translate(13.5px, 3px);
  transform: scale(0.65) rotate(0deg) translate(13.5px, 3px);
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  width: 1px;
}

@keyframes check-anim- {
  100% {
    height: 1px;
    transform: scale(0.65) rotate(0deg) translate(13.5px, 3px);
    width: 1px;
  }

  75% {
    height: 1px;
    transform: scale(0.487) rotate(0deg) translate(15px, 0);
    width: 1px;
  }

  50% {
    height: 1px;
    transform: scale(0.325) rotate(0deg) translate(17px, -5px);
    width: 1px;
  }

  25% {
    height: 1px;
    transform: scale(0.162) rotate(0deg) translate(20px, -18px);
    width: 1px;
  }

  0% {
    height: 1px;
    transform: scale(0.1) rotate(0deg) translate(30px, -35px);
    width: 1px;
  }
}

@keyframes check-anim2- {
  100% {
    height: 1px;
    transform: scale(0.1) rotate(45deg) translate(-10px, -35px);
    width: 1px;
  }

  0% {
    height: 100px;
    transform: scale(0.1) rotate(45deg) translate(0, 0);
    width: 40px;
  }
}

.checkbox-3kaeSU .checkboxInner-3yjcPe input:checked + span::before {
  animation: check-anim 100ms,
    check-anim2 300ms cubic-bezier(0.49, 0, 0, 1) 100ms;
  height: 100px;
  -ms-transform: scale(0.1) rotate(45deg) translate(0, 0);
  transform: scale(0.1) rotate(45deg) translate(0, 0);
  width: 40px;
}

@keyframes check-anim {
  0% {
    height: 1px;
    transform: scale(0.65) rotate(0deg) translate(13.5px, 3px);
    width: 1px;
  }

  25% {
    height: 1px;
    transform: scale(0.487) rotate(0deg) translate(15px, 0);
    width: 1px;
  }

  50% {
    height: 1px;
    transform: scale(0.325) rotate(0deg) translate(17px, -5px);
    width: 1px;
  }

  75% {
    height: 1px;
    transform: scale(0.162) rotate(0deg) translate(20px, -18px);
    width: 1px;
  }

  100% {
    height: 1px;
    transform: scale(0.1) rotate(0deg) translate(30px, -35px);
    width: 1px;
  }
}

@keyframes check-anim2 {
  0% {
    height: 1px;
    transform: scale(0.1) rotate(45deg) translate(-10px, -35px);
    width: 1px;
  }

  100% {
    height: 100px;
    transform: scale(0.1) rotate(45deg) translate(0, 0);
    width: 40px;
  }
}

.checkbox-3kaeSU .checkboxInner-3yjcPe input + span {
  animation: box-check2 400ms cubic-bezier(0.52, 0.01, 0, 1);
  background: $nox-accent;
  border-color: $nox-accent !important;
  transition: all 0s;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe input:checked + span {
  animation: box-check1 400ms cubic-bezier(0.52, 0.01, 0, 1);
  background: $nox-accent !important;
  border-color: $nox-accent !important;
  transition: all 0s;
}

@keyframes box-check1 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes box-check2 {
  0% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.checkbox-3kaeSU .checkboxInner-3yjcPe::after {
  background: $nox-accent;
  border-radius: 50%;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(3);
  transition: 200ms ease;
  width: 100%;
}

.checkbox-3kaeSU:active .checkboxInner-3yjcPe::after {
  animation: scale 100ms cubic-bezier(0.4, 0, 0, 1), opacity 50ms ease;
  opacity: 0.2;
  transform: scale(3);
}

.checkbox-3kaeSU:active .checkboxInner-3yjcPe input:checked + span {
  -ms-transform: scale(1);
  transform: scale(1);
  transition: all 100ms ease;
}
