.react-datepicker {
  background: $palenight-level2 !important;
}

.react-datepicker .react-datepicker__header {
  background-color: transparent !important;
}

.react-datepicker .react-datepicker__day--disabled,
.react-datepicker .react-datepicker__day--outside-month {
  background-color: $palenight-level1 !important;
  border: 0;
  color: $palenight-white !important;
  opacity: 0.7 !important;
}

.react-datepicker .react-datepicker__day--disabled:hover,
.react-datepicker .react-datepicker__day--outside-month:hover {
  background-color: $palenight-level1 !important;
  border: 0;
  color: $palenight-white !important;
  opacity: 1 !important;
}

.react-datepicker .react-datepicker__day {
  background: $palenight-level1 !important;
  border: 0;
  color: $palenight-white !important;
}

.react-datepicker .react-datepicker__day:hover {
  background: $palenight-level0 !important;
  color: $palenight-white !important;
}

.react-datepicker .react-datepicker__day:active {
  background: $palenight-accent !important;
  opacity: 1 !important;
}

.react-datepicker .react-datepicker__day--disabled:active,
.react-datepicker .react-datepicker__day--outside-month:active {
  background-color: $palenight-accent !important;
  border: 0;
  color: $palenight-white !important;
}

.react-datepicker .react-datepicker__day.react-datepicker__day--disabled,
.react-datepicker .react-datepicker__day.react-datepicker__day--disabled:hover {
  opacity: 0.4 !important;
  pointer-events: none !important;
}

.react-datepicker .react-datepicker__day-name {
  color: rgba($palenight-white, 0.7) !important;
}

.react-datepicker .react-datepicker__current-month {
  border: 0;
  color: rgba($palenight-white, 0.6) !important;
}

.react-datepicker
  .react-datepicker__navigation.react-datepicker__navigation--next,
.react-datepicker
  .react-datepicker__navigation.react-datepicker__navigation--previous {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIyNSI+PHBhdGggZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTcuMzM4IDEyLjQ4NWMtNC4xNTYgNC4xNTYtOC4zMTIgOC4zMTItMTIuNDY4IDEyLjQ2Ny0xLjQwMi0xLjQwMi0yLjgwNS0yLjgwNC00LjIwNy00LjIwNiAyLjc1Ni0yLjc1NyA1LjUxMy01LjUxNCA4LjI3LTguMjdDNi4xNzYgOS43MiAzLjQxOSA2Ljk2My42NjMgNC4yMDdMNC44NyAwYy0uMDU4LS4wNTkgMTIuNTU1IDEyLjU2MiAxMi40NjggMTIuNDg1eiIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9zdmc+')
    50% no-repeat !important;
  background-color: $palenight-level1 !important;
  background-size: 50% !important;
  border: 0;
}

.react-datepicker
  .react-datepicker__navigation.react-datepicker__navigation--next:hover,
.react-datepicker
  .react-datepicker__navigation.react-datepicker__navigation--previous:hover {
  background-color: $palenight-level0 !important;
  border: 0;
}
.datePicker--XZbmJ
  .calendarPicker-2yf6Ci
  .react-datepicker__day.react-datepicker__day--selected::after {
  background-color: $palenight-accent;
}
