.emojiAliasPlaceholder-3H_iZA::after,
.emojiAliasPlaceholder-3H_iZA::before {
  color: $nox-light-fg;
}

.theme-dark .emojiAliasPlaceholder-3H_iZA {
  color: transparent;
}

.theme-dark .emojiRow-zIc7ZX .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
  box-shadow: none !important;
  color: $nox-light-fg;
  opacity: 1;
}

.emojiRow-zIc7ZX:hover .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.05), -660px 2px 0 $nox-accent !important;
}

.emojiRow-zIc7ZX .emojiAliasInput-1y-NBz .emojiInput-1aLNse:focus {
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.05), 0 2px 0 $nox-accent !important;
}

.emojiRow-zIc7ZX .emojiRemove-1k6MlJ {
  background-color: $nox-level1;
}
