.contentColumn-2hrIYH .notDetected-33MY4s {
  background: $nox-level0;
}

.contentColumn-2hrIYH .gameNameInput-385LoS:focus,
.contentColumn-2hrIYH .gameNameInput-385LoS:hover {
  background: transparent;
}

.contentColumn-2hrIYH .gameNameInput-385LoS {
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 0 transparent, -240px 2px 0 $nox-accent;
  transition: 200ms ease;
}

.contentColumn-2hrIYH .gameNameLastPlayed-3LJo8n {
  overflow: hidden;
}

.contentColumn-2hrIYH .gameNameInput-385LoS:hover {
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 0 rgba($nox-white, 0.05), -240px 2px 0 $nox-accent;
}

.contentColumn-2hrIYH .gameNameInput-385LoS:focus {
  border: 0;
  box-shadow: 0 2px 0 rgba($nox-white, 0.05), 0 2px 0 $nox-accent;
  transition: 200ms cubic-bezier(0, 0, 0, 1);
}

.contentColumn-2hrIYH .lastPlayed-3bQ7Bo,
.contentColumn-2hrIYH .overlayStatusText-L2IACa {
  color: $nox-white3;
  margin-top: 4px;
}

.contentColumn-2hrIYH .game-1ipmAa {
  box-shadow: 0 1px 0 0 rgba($nox-white, 0.04);
}

.contentColumn-2hrIYH .notDetected-33MY4s .lastPlayed-3bQ7Bo {
  color: $nox-white5;
  padding-bottom: 3px;
}

.contentColumn-2hrIYH .now-playing .gameNameInput-385LoS:focus,
.contentColumn-2hrIYH .now-playing .gameNameInput-385LoS:hover {
  background: none;
  border-color: transparent !important;
}

.contentColumn-2hrIYH .now-playing .gameNameInput-385LoS {
  box-shadow: 0 2px 0 $nox-white 3, -240px 2px 0 $nox-white;
}

.contentColumn-2hrIYH .now-playing .gameNameInput-385LoS:focus {
  box-shadow: 0 2px 0 $nox-white 3, 0 2px 0 $nox-white;
}

.contentColumn-2hrIYH .now-playing .gameName-1RiWHm {
  color: $nox-white;
}

.contentColumn-2hrIYH .gameNameInput-385LoS {
  padding-left: 6px;
}

.contentColumn-2hrIYH .default-3sgIpy,
.hovered-d5PMVU {
  height: 16px;
}

.game-1ipmAa .removeGame-2JFGPn {
  background-color: $nox-level1;
}
