.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g {
  background: $nox-level1;
  border-radius: 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0);
  margin-bottom: 0;
  position: relative;
  transition: all 100ms ease, z-index 0ms 100ms;
  z-index: 0;
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g:not(:last-of-type) {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0),
    0 -2px 0 rgba(255, 255, 255, 0.02) inset;
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g:hover {
  background: #2e2e2e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 100ms ease, z-index 0ms;
  z-index: 2;
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g:active {
  background: $nox-accent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 50ms ease, z-index 0ms;
  z-index: 2000;
}

.theme-dark
  .cardPrimaryEditable-3KtE4g[style*='border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);']:hover {
  filter: brightness(1.1);
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.radioGroup-1GBvlr {
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.theme-dark .inner-zqa7da {
  background: none;
}

.checkbox-3kaeSU
  .checkboxInner-3yjcPe
  input[type='checkbox']:checked
  + span::after {
  display: none !important;
}

/* Animated checkboxes */
.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g .checkbox-1ix_J3::after {
  border-bottom: 20px solid $nox-level1;
  border-right: 20px solid $nox-level1;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  transform: translate(0, 0) scale(0.1) rotate(45deg);
  transition: all 200ms cubic-bezier(0.4, 0, 0, 1);
  visibility: hidden;
  width: 0;
}

.radioGroup-1GBvlr
  .cardPrimaryEditable-3KtE4g
  .checkbox-1ix_J3.checked-3_4uQ9::after {
  border-bottom: 20px solid $nox-accent;
  border-right: 20px solid $nox-accent;
  height: 110px;
  transform: translate(0, -1.5px) scale(0.1) rotate(45deg); //border-bottom:20px solid $nox-accent;
  transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 200ms; //border-right:20px solid $nox-accent;
  visibility: visible;
  width: 50px;
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g .checkbox-1ix_J3 {
  position: relative;
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g .checkbox-1ix_J3 svg {
  display: none;
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g .checkbox-1ix_J3 {
  animation: checkbx 500ms ease;
  background: $nox-white2;
  border-color: transparent !important;
  transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 200ms;
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g .checkbox-1ix_J3.checked-3_4uQ9 {
  animation: checkbx2 500ms ease;
  background: $nox-light-fg;
  border-color: $nox-light-fg !important;
  transition: all 200ms cubic-bezier(0.6, 0, 0, 0.7);
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g .checkbox-1ix_J3::before {
  background: $nox-level1;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 200ms, background 100ms ease;
  width: 100%;
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g:hover .checkbox-1ix_J3::before {
  background: #2e2e2e;
}

.radioGroup-1GBvlr .cardPrimaryEditable-3KtE4g:active .checkbox-1ix_J3::before {
  background: $nox-accent;
  transition: all 300ms cubic-bezier(0.2, 0, 0, 1) 200ms, background 50ms ease;
}

.radioGroup-1GBvlr
  .cardPrimaryEditable-3KtE4g
  .checkbox-1ix_J3.checked-3_4uQ9::before {
  background: $nox-accent;
  transform: scale(0);
  transition: all 200ms cubic-bezier(0.6, 0, 0, 0.7), background 0ms ease;
}

@keyframes checkbx {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes checkbx2 {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.cardPrimaryEditable-3KtE4g[style*='background-color: rgb(114, 137, 218);'] {
  background: $nox-accent !important;
}

.theme-dark .cardPrimaryEditable-3KtE4g,
.theme-dark .cardPrimaryOutline-29Ujqw,
.theme-dark .cardPrimary-1Hv-to {
  background: $nox-level1;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.03) inset;
}

.checkbox-1ix_J3[style*='border-color: rgb(114, 137, 218);'] {
  border-color: $nox-white !important;
}

.theme-dark .checkbox-1ix_J3[style*='background-color: rgb(114, 137, 218);'] {
  background-color: $nox-accent !important;
}

.checkbox-1ix_J3 polyline[stroke='#43b581'] {
  stroke: $nox-light-fg !important;
}

.checkbox-1ix_J3 polyline[stroke='#7289da'] {
  stroke: $nox-accent !important;
}

.checkbox-1ix_J3 polyline[stroke='transparent'] {
  stroke: transparent !important;
}

.theme-dark .checkbox-1ix_J3.checked-3_4uQ9.round-2jCFai {
  background-color: $nox-accent !important;
  border-color: $nox-accent !important;
}

.theme-dark
  .cardPrimaryEditable-3KtE4g[style*='border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);'] {
  background: $nox-accent !important;
}

.theme-dark .desc-2Dttbk {
  color: $nox-white3;
}

.theme-dark
  .cardPrimaryEditable-3KtE4g[style*='background-color']
  .desc-2Dttbk {
  color: $nox-white8;
}
