// .slider {
//     width: 95%;
// }

// .slider .slider-handle {
//     border: 0px;
//     background: $palenight-accent;
//     transform: scale(0.6);
//     border-radius: 50%;
//     cursor: pointer;
//     box-shadow: none;
//     transition: transform 100ms ease;
// }

// .slider .slider-handle::after {
//     content: "";
//     width: 50px;
//     height: 50px;
//     background: $palenight-accent;
//     display: block;
//     opacity: 0;
//     border-radius: 50%;
//     position: absolute;
//     top: 51%;
//     left: 50%;
//     transform: translate(-50%, -50%)scale(0.5);
//     transition: transform 0ms linear 200ms, opacity 200ms ease;
// }

// .slider .slider-handle:active::after {
//     transform: translate(-50%, -50%)scale(1.1);
//     opacity: .2;
//     transition: transform 200ms cubic-bezier(.35, .01, 0, 1), opacity 100ms ease;
// }

// .slider .slider-handle span {
//     transform: scale(1.2);
//     z-index: 100000;
//     background: $palenight-accent;
//     color: $palenight-white;
//     border-radius: 100px;
//     border: 0;
//     @include transition('easeInOut', 'shortest', all);
// }

// .slider-handle span::before,
// .slider-handle span::after {
//     display: none
// }

// .slider .slider-bar {
//     height: 3px;
//     transform: translate(0, 1px);
//     border-radius: 0px;
//     @include transition('easeInOut', 'shortest', all);
// }

// .slider .slider-handle:active {
//     transform: scale(0.8);
// }

// .slider-handle-track {
//     margin-right: -13px;
//     margin-left: -13px;
// }

.barFill-23-gu- {
  background: $palenight-accent;
}

.theme-dark .bar-2Qqk5Z {
  background: rgba($palenight-white, 0.2);
}

.slider-1PF9SW .grabber-3mFHz2,
.ui-slider .slider-grabber {
  background: $palenight-accent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
}

.userSettingsVoice-iwdUCU
  .inputSensitivityToggle-2LKb8o.manual-36Evg9
  .microphone-2rtdHw,
.slider-1PF9SW .bar-2Qqk5Z,
.ui-slider .slider-bar {
  height: 5px;
  top: 18px;
}

.track-11EASc,
.slider-handle-track {
  margin-left: 0;
  margin-right: 0;
}

.slider-1PF9SW .bubble-3we2di,
.ui-slider .slider-grabber .bubble {
  background: $palenight-level0;
  left: -16px;
}

.slider-1PF9SW .bubble-3we2di::before,
.theme-dark .ui-slider .slider-grabber .bubble::before {
  display: none;
}
