/*switches*/
.switchWrapper-3sSQdm,
.ui-switch-wrapper {
  margin-top: 0;
  position: relative;
  right: 10px;
  width: 35px !important;
}

.switch-3wwwcV,
.ui-switch {
  background: none !important;
  height: 15px;
  overflow: visible !important;
  top: 5px;
  visibility: visible;
  width: 35px;
}

.switch-3wwwcV::after,
.ui-switch::before {
  background: $nox-white !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3), 0 1px 0 $nox-white3 inset !important;
  content: '';
  display: block;
  height: 23px !important;
  left: -4px !important;
  margin: 0;
  top: -4px !important;
  transform: translate(-1px, 0);
  transition: 300ms cubic-bezier(0.4, 0, 0, 1) !important;
  visibility: visible;
  width: 23px !important;
  z-index: 2;
}

.valueChecked-m-4IJZ.sizeDefault-2YlOZr::after,
.ui-switch-checkbox:checked + .ui-switch::before {
  transform: translate(21px, 0) !important;
}

.switch-3wwwcV:hover::after,
.ui-switch-checkbox:hover + .ui-switch::before {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5), 0 1px 0 $nox-white3 inset;
}

.switch-3wwwcV:active::after,
.ui-switch-checkbox:active + .ui-switch::before {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5), 0 1px 0 $nox-white3 inset;
}

.switch-3wwwcV.valueChecked-m-4IJZ:active::after,
.switch-3wwwcV:active::after,
.ui-switch-checkbox:checked:active + .ui-switch::before,
.ui-switch-checkbox:active + .ui-switch::before {
  left: -4px;
  width: 23px;
}

.switch-3wwwcV::before,
.ui-switch::after {
  background: $nox-white !important;
  border-radius: 100px;
  content: '';
  display: block;
  height: 100%;
  opacity: 0.25;
  transition: all 150ms ease !important;
  visibility: visible;
  width: 100%;
}

.switchEnabled-V2WDBB:active::before {
  opacity: 0.25;
}

.switch-3wwwcV.valueChecked-m-4IJZ::before,
.ui-switch-checkbox:checked + .ui-switch::after {
  opacity: 0.5;
}

.switch-3wwwcV.valueChecked-m-4IJZ:active::before {
  opacity: 0.5;
}

.checkbox-2tyjJg,
.ui-switch-checkbox {
  margin: none !important;
  padding: 3px 3px 3px 4px;
  z-index: 3;
}

body .themeClear-1EjkE4.switch-3wwwcV {
  box-shadow: none !important;
}

body .themeClear-1EjkE4.switch-3wwwcV::before,
.ui-switch-wrapper.clear .ui-switch-checkbox + .ui-switch::after {
  background: $nox-white !important;
  opacity: 0.4;
}

body .themeClear-1EjkE4.valueChecked-m-4IJZ.switch-3wwwcV::before,
.ui-switch-wrapper.clear .ui-switch-checkbox:checked + .ui-switch::after {
  background: $nox-white !important;
  opacity: 0.7;
}

body .themeClear-1EjkE4.valueChecked-m-4IJZ.switch-3wwwcV::after,
.ui-switch-wrapper.clear .ui-switch-checkbox:checked + .ui-switch::before {
  background: $nox-white !important;
  opacity: 1;
}

.valueChecked-m-4IJZ.switch-3wwwcV.switch-3wwwcV::after,
.ui-switch-checkbox:checked + .ui-switch::before {
  background: $nox-accent !important;
}

.valueChecked-m-4IJZ.switch-3wwwcV.switch-3wwwcV::before,
.ui-switch-checkbox:checked + .ui-switch::after {
  background: $nox-accent !important;
}

.switchWrapperDefault,
.ui-switch-wrapper {
  cursor: pointer;
}

/*/switches*/
