._3Mv0RaJ0,
._3Mv0RaJ0:hover,
.buttonBrandFilled-3Mv0Ra,
.buttonBrandFilled-3Mv0Ra:hover,
.button-38aScr,
.bd-pfbtn,
.bd-pluginrepobutton,
.bd-themerepobutton,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.button-38aScr.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
  background: $nox-accent;
}

.bd-pluginrepobutton,
.bd-themerepobutton {
  font-weight: 600;
}

.button-38aScr.lookLink-9FtZy-,
.button-38aScr.lookOutlined-3sRXeN {
  background: none;
}

.button-38aScr.lookOutlined-3sRXeN {
  border: 1px solid $nox-light-fg;
}

.button-38aScr.lookOutlined-3sRXeN:hover,
.button-38aScr.lookOutlined-3sRXeN:active {
  border-color: transparent;
}

.button-38aScr.lookOutlined-3sRXeN.colorBrand-3pXr91 {
  border: 1px solid $nox-accent;
  color: $nox-accent;
}

.button-38aScr.lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
  border-color: transparent;
  color: #fff;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY {
  background: none;
  border: 1px solid $nox-accent;
  color: $nox-accent;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY:hover,
.lookOutlined-3sRXeN.colorGreen-29iAKY:active {
  border-color: transparent;
  color: #fff;
}

.button-38aScr + .button-38aScr {
  margin-left: 5px;
  margin-right: 5px;
}

.buttonBrandGhostDefault-2JCnWW {
  background: rgba(255, 255, 255, 0.05) !important;
  color: $nox-accent !important;
}

.lookGhost-2Fn_0-.colorBrand-3pXr91 {
  background: rgba(255, 255, 255, 0.05);
  color: $nox-accent;
  margin: 3px;
}

.lookGhost-2Fn_0-.colorBrand-3pXr91:hover {
  color: #fff;
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
  color: $nox-light-fg;
}

.button-38aScr,
.userSettingsAccount-2eMFVR .questionMark-CWEQZn,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.bd-pfbtn,
.bd-pluginrepobutton,
.bd-themerepobutton,
.button-38aScr.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV,
._2t3of887,
#app-mount .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV {
  // margin-bottom: 5px;
  border-radius: 3px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0);
  transition: all 200ms ease;
}

.button-38aScr:hover,
.userSettingsAccount-2eMFVR .questionMark-CWEQZn:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.bd-pfbtn:hover,
.bd-pluginrepobutton:hover,
.bd-themerepobutton:hover,
.button-38aScr.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover,
._2t3of887:hover,
#app-mount .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
  background: $nox-accent;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transform: translate(0, -1px);
  transition: all 100ms ease, transform 150ms cubic-bezier(0, 0, 0, 1);
}

.button-38aScr:active,
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:active,
.lookOutlined-3sRXeN.colorGreen-29iAKY:active,
.userSettingsAccount-2eMFVR .questionMark-CWEQZn:active,
.lookFilled-1Gx00P.colorBrand-3pXr91:active,
.lookInverted-2D7oAl.colorBrand-3pXr91:active,
.lookFilled-1Gx00P.colorGreen-29iAKY:active,
.button-38aScr.lookOutlined-3sRXeN.colorBrand-3pXr91:active,
.button-38aScr.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:active,
.bd-pfbtn:active,
.bd-pluginrepobutton:active,
.bd-themerepobutton:active,
._2t3of887:active,
.lookGhost-2Fn_0-.colorBrand-3pXr91:active,
#app-mount .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:active {
  background: rgb(220, 220, 220);
  border-radius: 4px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.7);
  -ms-transform: translate(0, 2px);
  transform: translate(0, 2px);
  transition: all 50ms ease;
}

.button-38aScr:hover,
.userSettingsAccount-2eMFVR .questionMark-CWEQZn:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.bd-pfbtn:hover,
.bd-pluginrepobutton:hover,
.bd-themerepobutton:hover,
.button-38aScr.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:active,
._2t3of887:hover,
#app-mount .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
  filter: brightness(93%) contrast(110%) !important;
}

._2t3of887._1VCgwLw2 {
  background: $nox-level0;
}

.buttonWhiteOutlinedDefault-3gEfoF,
.theme-dark .buttonPrimaryOutlinedDefault--H0hhk,
.theme-dark .buttonPrimaryOutlinedSubmitting-3m3eFx,
.theme-dark .-H0hhksL {
  background: $nox-level0;
  border: 0;
}

.buttonWhiteOutlinedDefault-3gEfoF:hover,
.theme-dark .buttonPrimaryOutlinedDefault--H0hhk:hover,
.theme-dark .buttonPrimaryOutlinedSubmitting-3m3eFx:hover,
.theme-dark .-H0hhksL:hover {
  background: $nox-level1;
  border: 0;
  color: $nox-white;
  filter: none !important;
}

._2t3of887._1VCgwLw2 {
  background: $nox-level0;
  border: 0;
  color: $nox-important-notification;
}

._2t3of887._1VCgwLw2:hover {
  background: $nox-important-notification;
  border: 0;
  color: $nox-white;
}

._2t3of887._1VCgwLw2:active {
  background: rgb(220, 220, 220);
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.lookLink-9FtZy-.colorBrand-3pXr91 {
  color: $nox-accent;
}

.lookLink-9FtZy- .contents-18-Yxp {
  background-image: none !important;
}

.buttonGreyLinkDefault-3eCAFJ:active .contents-18-Yxp,
.buttonGreyLinkDefault-3eCAFJ:hover .contents-18-Yxp {
  background: none;
}

.buttonGreyLinkDefault-3eCAFJ {
  background: $nox-level1;
}

.buttonGreyLinkDefault-3eCAFJ:hover {
  background: $nox-level0;
  filter: none !important;
}

.buttonGreyLinkDefault-3eCAFJ + .button-38aScr {
  margin-left: 5px;
}

.button-38aScr {
  margin-bottom: 0;
  min-height: 32px;
  padding: 2px 16px;
}

.buttonBrandLink-3csEAP {
  color: #2196f3;
}

// .lookFilled-1Gx00P.colorGreen-29iAKY{
//     color:$nox-white;
//     background:$nox-accent;
// }

// .lookFilled-1Gx00P.colorGreen-29iAKY:hover{
//     background:$nox-accent;
//     color:$nox-white;
// }

.theme-dark .buttonPrimaryLinkDefault-1PQflF,
.theme-dark .buttonPrimaryLinkDisabled-3Ey7-S,
.theme-dark .buttonPrimaryLinkSubmitting-RbBzR4 {
  color: $nox-white9;
}

.button-38aScr.lookLink-9FtZy- {
  background: transparent;
}

.button-38aScr.lookLink-9FtZy-:hover {
  background: $nox-level0;
}

.button-38aScr.lookLink-9FtZy-:active {
  background: rgb(220, 220, 220);
}

.lookGhost-2Fn_0-.colorGrey-2DXtkV {
  color: $nox-white;
  margin: 3px;
}

.lookGhost-2Fn_0-.colorGrey-2DXtkV:hover {
  color: $nox-white;
}

.lookGhost-2Fn_0-.colorGrey-2DXtkV:active {
  background: rgba(220, 220, 220, 0.15);
}

.button-1Pkqso.iconButton-eOTKg4 {
  padding: 0;
}

.button-38aScr.close-18n9bP {
  background: none !important;
  box-shadow: none;
  color: #fff;
  min-height: unset;
  padding: 0 6px;
  transform: none;
}

.button-38aScr.close-18n9bP::after {
  animation-fill-mode: forwards;
  background: $nox-white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 0;
  opacity: 0;
  padding-top: 100%;
  pointer-events: none;
  position: absolute;
  transform: scale(1.4);
  transition: all 300ms ease, visibility 0ms 300ms;
  visibility: hidden;
  width: 100%;
}

.button-38aScr.close-18n9bP:active::after {
  animation: scale 100ms cubic-bezier(0.2, 0, 0, 1), opacity 50ms ease;
  opacity: 0.1;
  transition: all 300ms ease, visibility 0ms;
  visibility: visible;
}

.button-38aScr.lookBlank-3eh9lL {
  background: none;
}

.button-38aScr.lookBlank-3eh9lL:hover {
  transform: none;
}

.button-38aScr.lookBlank-3eh9lL:active {
  box-shadow: none;
  color: $nox-white;
  filter: none;
  transform: none;
}

.button-38aScr.actionRed-gYn8D3 {
  background: #a33030;
  color: $nox-white;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
  background: none;
  border-color: $nox-important-notification;
  color: $nox-important-notification;
}

.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
  background: $nox-important-notification;
  border-color: transparent;
  color: $nox-white;
}

.lookOutlined-3sRXeN.colorRed-1TFJan:active {
  background: rgb(220, 220, 220);
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

span + button {
  margin-left: 5px;
}

.button-38aScr.fullWidth-1orjjo + .button-38aScr.fullWidth-1orjjo {
  margin-left: 0;
  margin-right: 0;
}

.theme-dark .mobileIndicator-U-7hTl,
.theme-dark .mobileIndicator-329Gd6,
.theme-dark .mobileIndicatorPrimary-2viufb {
  color: $nox-accent;
  cursor: pointer;
  opacity: 0.8;
}

.theme-dark .mobileIndicator-U-7hTl:hover,
.theme-dark .mobileIndicator-329Gd6:hover,
.theme-dark .mobileIndicatorPrimary-2viufb:hover {
  opacity: 1;
}
