/*   Context Menus   */

/* ================= */

.contextMenu-HLZMGh {
  animation: opacity 50ms ease, context-open-new 150ms cubic-bezier(0, 0, 0, 1);
  background: $nox-level2 !important;
  border: 1px solid $nox-level2;
  border-radius: 2px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.4) !important;
  padding: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  transform-origin: top;
}

.theme-dark.contextMenu-HLZMGh .contextMenu-HLZMGh {
  transform-origin: 0 0 !important;
}

@keyframes context-open-new {
  0% {
    transform: scale(1, 0.8);
  }
}

@keyframes context-open {
  0% {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.contextMenu-HLZMGh.invertY,
.contextMenu-HLZMGh.undefined {
  animation: opacity 50ms linear,
    context-open-new 150ms cubic-bezier(0.2, 0, 0, 1);
  transform-origin: bottom !important;
}

.contextMenu-HLZMGh .itemGroup-1tL0uz:not(:first-child):not(:empty) {
  // TODO
  border-color: #242424 !important;
}

@keyframes context-open-invertY {
  0% {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.theme-dark.contextMenu-HLZMGh .itemGroup-1tL0uz {
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.contextMenu-HLZMGh .item-1Yvehc {
  animation: opacity 200ms 100ms backwards;
  background: transparent !important;
  border-radius: 0;
  color: $nox-white6;
  cursor: pointer;
  margin: 0;
  padding: 9px 15px;
  transition: all 80ms ease;
}

.contextMenu-HLZMGh .item-1Yvehc:hover {
  background: rgba(225, 225, 225, 0.03) !important;
  color: $nox-white8;
  transition: all 0ms;
}

.contextMenu-HLZMGh .item-1Yvehc.brand-3igrJY {
  color: $nox-accent !important;
}

// .contextMenu-HLZMGh {
//     z-index: 1000000!important
// }

.contextMenu-HLZMGh .item-1Yvehc:active .slider .slider-handle::after,
.contextMenu-HLZMGh .item-1Yvehc:active .slider .slider-handle span,
.contextMenu-HLZMGh .item-1Yvehc:active .slider .slider-handle,
.contextMenu-HLZMGh .item-1Yvehc:active .slider-bar-fill {
  background: $nox-white;
  color: $nox-accent;
}

.contextMenu-HLZMGh .item-1Yvehc.danger-2dXSTE:hover {
  color: $nox-important-notification !important;
}

.contextMenu-HLZMGh .item-1Yvehc:active .checkbox-3kaeSU span {
  background: $nox-white !important;
  border-color: $nox-white !important;
}

.contextMenu-HLZMGh .item-1Yvehc:active .checkbox-3kaeSU span::before {
  border-color: $nox-accent !important;
}

.contextMenu-HLZMGh .item-1Yvehc.danger-2dXSTE:active {
  background: $nox-important-notification !important;
  color: $nox-white !important;
}

.contextMenu-HLZMGh .contextMenu-HLZMGh {
  margin-top: -16px;
}

.contextMenu-HLZMGh .contextMenu-HLZMGh.invertY,
.contextMenu-HLZMGh .contextMenu-HLZMGh.undefined {
  margin-top: 16px;
}

.theme-dark.contextMenu-HLZMGh .itemSubMenu-1vN_Yn {
  position: relative;
}

.contextMenu-HLZMGh .slider-1PF9SW .track-11EASc {
  left: 3px !important;
  right: 0 !important;
}

.contextMenu-HLZMGh .slider-1PF9SW .grabber-3mFHz2 {
  background: $nox-accent;
  height: 12px;
  margin-left: -7px;
  margin-top: 3px;
  width: 12px;
}

.contextMenu-HLZMGh .slider-1PF9SW .bar-2Qqk5Z {
  height: 3px;
}

.contextMenu-HLZMGh .item-1Yvehc:hover .checkbox-3kaeSU span::before {
  border-color: $nox-level1 !important;
}

.contextMenu-HLZMGh .item-1Yvehc:active .checkbox-3kaeSU span::before {
  border-color: #343434 !important;
}

.contextMenu-HLZMGh .item-1Yvehc .checkbox-3kaeSU span::before {
  border-color: $nox-level2 !important;
}

.item-1Yvehc.itemSubMenu-1vN_Yn::after {
  content: url('data: image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTguNTkgMTYuMzRsNC41OC00LjU5LTQuNTgtNC41OUwxMCA1Ljc1bDYgNi02IDZ6Ii8+ICAgIDxwYXRoIGQ9Ik0wLS4yNWgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==');
  opacity: 0.6;
  position: absolute;
  right: 5px;
  top: 5px;
  transition: all 100ms ease;
}

.item-1Yvehc.itemSubMenu-1vN_Yn:hover::after {
  opacity: 1;
}

.contextMenu-HLZMGh ::-webkit-scrollbar-thumb {
  border: 2px solid $nox-white0 !important;
}

/* ================= */

/* End Context Menus */
