* {
  font-family: quote($palenight-font), sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500 !important;
  text-rendering: geometricPrecision !important;
}

textarea::placeholder,
input::placeholder {
  font-family: quote($palenight-font), sans-serif !important;
  font-weight: 500 !important;
}

input,
textarea,
keygen,
select,
button {
  font-family: quote($palenight-font), sans-serif !important;
  font-weight: 500 !important;
}

.ace_editor * {
  font-family: quote($palenight-code-font), Consolas, Menlo, Monaco, Lucida Console,
    Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace, serif !important;
}

.markup-2BOw-j pre,
.markup-2BOw-j pre *,
.markup-2BOw-j pre code,
.markup-2BOw-j pre code *,
.markup-2BOw-j code.inline {
  font-family: quote($palenight-code-font), Consolas, Menlo, Monaco, Lucida Console,
    Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace, serif !important;
}
