/*settings animation*/
.layer-3QrUeG.animating {
  pointer-events: initial !important;
  will-change: transform, opacity;
}

.modal-1UGdnR,
.inner-1JeGVc,
html,
body,
.layer-3QrUeG > section,
.theme-dark .standardSidebarView-3F1I7i {
  backface-visibility: hidden;
  backface-visibility: hidden;
}

.layer-3QrUeG {
  backface-visibility: hidden;
  backface-visibility: hidden;
  transform: none !important;
  transition: all 0.3s cubic-bezier(0.4, 0, 0, 1);
}

/* .layer-3QrUeG[style]{
    transform:none!important;
} */

.layer-3QrUeG.animating-rRxada {
  transform: none !important;
}

.layer-3QrUeG.stop-animations:first-of-type {
  opacity: 0 !important;
  transform: scale(0.95) !important;
}

.layer-3QrUeG + .layer-3QrUeG {
  opacity: 0 !important;
  pointer-events: none !important;
  transform: scale(1.1) !important;
  transition: all 300ms cubic-bezier(0.4, 0, 0, 1), opacity 150ms ease;
}

.layer-3QrUeG.stop-animations ~ .layer-3QrUeG {
  animation: pubslayer $nox-settings-time cubic-bezier(0.4, 0, 0, 1);
  opacity: 1 !important;
  pointer-events: initial !important;
  transform: none !important;
}

#pubslayerroot .layer-3QrUeG .standardSidebarView-3F1I7i {
  animation: pubslayer 0.5s cubic-bezier(0.4, 0, 0, 1);
  opacity: 1;
  transform: none;
}

@keyframes pubslayer {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
}

/*/settings animation*/
