.modal-3HD5ck a,
.messages-wrapper .messages .message-group a {
  border-bottom: 2px solid transparent;
  color: #2196f3 !important;
  transition: color 300ms ease;
}

.modal-3HD5ck a:hover,
.messages-wrapper .messages .message-group a:hover {
  color: #90caf9 !important;
  text-decoration: none;
}
